{% extends "base.html" %}
{% block content %}
{% block leftbar %}{% endblock %}
<div class="content-page-buildings">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="pull-left page-title">Edificio {{building.name}}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Enviar una queja</h3>
						</div>
						<div class="panel-body">
						<form class="form-horizontal" role="form" method="POST">
						{% csrf_token %}
							<div class="form-group">
								<label class="col-md-2 control-label">Tu nombre</label>
								<div class="col-md-6">
									<input id="id_sender_name" maxlength="100" type="text" class="form-control" name="sender_name" placeholder="Nombre">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label" for="example-email">Tu Email</label>
								<div class="col-md-6">
									<input id="id_sender_email" maxlength="254" name="sender_email" type="email" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Mensaje</label>
								<div class="col-md-6">
									<textarea cols="40" id="id_message" maxlength="2000" name="message" rows="10" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group m-b-0">
    							<div class="col-sm-offset-3 col-sm-9">
    								<button type="submit" class="btn btn-info waves-effect waves-light">Enviar Queja</button>
    							</div>
    						</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}