{% extends "base.html" %}
  {% block content %}
  {% block leftbar %}{% endblock %}
  <section class="home bg-dark" id="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="home-wrapper">
            <h1 class="home-text">
              <span class="rotate">Gracias</span>
            </h1>
            <p class="m-t-30">Hemos recibido tu queja, el administrador del edificio se encargará de darle el debido seguimiento</p>
            <div class="row m-t-40">
              <div class="col-sm-12 lj-countdown">
                <div class="row">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  {% block custom-js %}
  <script>var resizefunc = [];</script>
  <script src="assets/js/moltran.min.js"></script>
  <script src="assets/vendor/countdown/dest/jquery.countdown.min.js"></script>
  <script src="assets/plugins/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script type="text/javascript">$(document).ready(function (){

        // Countdown
        // To change date, simply edit: var endDate = "June 26, 2015 20:39:00";
        $(function() {
          var endDate = "January 17, 2016 20:39:00";
          $('.lj-countdown .row').countdown({
            date: endDate,
            render: function(data) {
              $(this.el).html('<div><div><span>' + (parseInt(this.leadingZeros(data.years, 2)*365) + parseInt(this.leadingZeros(data.days, 2))) + '</span><span>days</span></div><div><span>' + this.leadingZeros(data.hours, 2) + '</span><span>hours</span></div></div><div class="lj-countdown-ms"><div><span>' + this.leadingZeros(data.min, 2) + '</span><span>minutes</span></div><div><span>' + this.leadingZeros(data.sec, 2) + '</span><span>seconds</span></div></div>');
            }
          });
        });
      });
      $(document).ready(function(){
        $(".home-text .rotate").textrotator({
              animation: "fade",
              speed: 2000
          });
      });</script>
  {% endblock %}