{% extends "base.html" %}
{% block content %}
{% block leftbar %}{% endblock %}
            <div class="content-page-buildings">
                  <div class="content">
                        <div class="container">
            {% if buildings %}
                              <div class="row">
                                    <div class="col-sm-12">
                                          <h3 class="pull-left page-title">Hola {{userprofile.name}}.Selecciona la copropiedad que deseas administrar</h3>
                                    </div>
                              </div>

      	<div class="row">
                  {% for building in buildings %}
                  <div class="col-sm-6 col-lg-4">
                        <div class="panel">
                              <div class="panel-body">
                                    <div class="media-main">
                                          <div class="pull-right btn-group-sm">
                                                <a href="{% url "properties" building.slug %}" class="btn btn-success waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Administrar">
                                                      <i class="fa fa-pencil"></i>
                                                </a> 
                                          </div>
      						<div class="info">
      							<a href="{% url "properties" building.slug %}"><h4 style="display: inline; text-decoration: underline">{{ building.name }}</h4></a>
      							<p class="text-muted">{{ building.address }}</p>
      						</div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <ul class="social-links list-inline">
                                    <li>
                                          <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="{{building.phone_number}}">
                                                <i class="fa fa-phone"></i>
                                          </a>
                                    </li>
                                    <li>
                                          <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="{{building.email}}">    <i class="fa fa-envelope-o"></i>
                                          </a>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
            {% endfor %}
            </div>
            <div class="row">
                  <div class="text-center">
                        <a href="{% url "building_create" %}" class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Crear nueva copropiedad</a>
                  </div>
            </div>
      {% else %}
            <div class="row">
                  <div class="col-sm-12">
                        <h3 class="text-center page-title">¡Felicitaciones por llegar hasta aquí! Ahora vamos a crear tu primera copropiedad</h3>
                  </div>
                  <div class="text-center">
                        <a href="{% url "building_create" %}" class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Crear mi primera copropiedad</a>
                  </div>
            </div>
      {% endif %}
{% endblock %}