{% extends "base.html" %}
{% block content %}
{% block leftbar %}{% endblock %}
      <div class="content-page-buildings">
            <div class="content">
                  <div class="container">
      	<div class="wrapper-page">
                  <div class="panel panel-color panel-primary panel-pages">
                        <div class="panel-heading bg-img">
                              <div class="bg-overlay"></div>
                              <h3 class="text-center m-t-10 text-white">Información de tu copropiedad</h3>
                        </div>
                        <div class="panel-body">
                              <form class="form-horizontal m-t-20" name="user_form" method="POST" action="">
                              {% csrf_token %}
                              <div class="form-group">
                                    <div class="col-xs-12">
                                          {{form.username.errors}}
                                          <input class="form-control input-lg required" id="id_username" name="name" type="text" placeholder="Nombre"/>
                                    </div>
                              </div>
                                    <div class="form-group">
                                          <div class="col-xs-12">
                                          {{form.email.errors}}
                                                <input class="form-control input-lg required" id="id_email" name="address" type="text" placeholder="Dirección" />
                                          </div>
                              </div>
                              <div class="form-group">
                                    <div class="col-xs-12">
                                          {{form.name.errors}}
                                          <input class="form-control input-lg required" id="id_name" name="phone_number" type="tel" maxlength="30" name="name" placeholder="Teléfono"/>
                                    </div>
                              </div>
                                    <div class="form-group text-center m-t-40">
                                          <div class="col-xs-12">
                                                <button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Crear mi copropiedad
                                                </button>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
{% endblock %}