{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load extra_tags %}
{% block custom-css %}
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/modernizr.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
{% endblock %}
{% block leftbar %}
{% endblock %}
{% block content %}
	<div class="content-page-buildings">
		<div class="content">
			<div class="container">
				<div class="panel">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Configuración del Módulo de Caja</h3>
								</div>
								<div class="panel-body">
								<div>
									<div class="text-center" style="margin-bottom: 2em;">
										<h3>¡Perfecto! Ahora vamos a configurar el módulo de Caja</h3>	
									</div>
                					<form method="POST">
                						{% csrf_token %}
                  					<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    					<span style="font-size: 16px;">¿Tienes cuenta de ahorros?</span>
                    					<div class="input-group switchBtn" style="margin-top: 1em;">
                      						<input id="id_has_saving_account_0" class="switchBtn-input" name="has_saving_account" type="radio" value="True" />
                      						<label for="id_has_saving_account_0" class="switchBtn-label switchBtn-label-off">Si</label>
                      						<input id="id_has_saving_account_1" class="switchBtn-input" name="has_saving_account" type="radio" value="False" style="margin-left: 20px;" checked />
                      						<label for="id_has_saving_account_1" class="switchBtn-label switchBtn-label-on">No</label>
                      						<span class="switchBtn-selection"></span>
                    					</div>
                    					<div class="input-group" style="margin-top: 2em;display:none;">
                      						<span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                      						<input id="id_saving_account_starting_amount" name="saving_account_starting_amount" type="text" class="form-control" placeholder="Saldo Disponible (Opcional)"/>
                      						{{form.errors}}
                    					</div>
                    				</div>
                    				<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    					<span style="font-size: 16px; display: inline-block; margin-top: 2em;">¿Tienes cuenta corriente?</span>
                    					<div class="input-group switchBtn" style="margin-top: 1em;">
                      						<input id="id_has_checking_account_0" class="switchBtn-input" name="has_checking_account" type="radio" value="True" />
                      						<label for="id_has_checking_account_0" class="switchBtn-label switchBtn-label-off">Si</label>
                      						<input id="id_has_checking_account_1" class="switchBtn-input" name="has_checking_account" type="radio" value="False" style="margin-left: 20px;" checked />
                      						<label for="id_has_checking_account_1" class="switchBtn-label switchBtn-label-on">No</label>
                      						<span class="switchBtn-selection"></span>
                    					</div>
                    					<div class="input-group" style="margin-top: 2em;display:none;">
                      						<span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                      						<input id="id_checking_account_starting_amount" name="checking_account_starting_amount" type="text" class="form-control" placeholder="Saldo Disponible (Opcional)"/>
                      						{{form.errors}}
                    					</div>
                    				</div>
                    				<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    					<span style="font-size: 16px; display: inline-block; margin-top: 2em;">¿Tienes caja menor?</span>
                    					<div class="input-group switchBtn" style="margin-top: 1em;">
                      						<input id="id_has_cashflow_box_0" class="switchBtn-input" name="has_cashflow_box" type="radio" value="True" />
                      						<label for="id_has_cashflow_box_0" class="switchBtn-label switchBtn-label-off">Si</label>
                      						<input id="id_has_cashflow_box_1" class="switchBtn-input" name="has_cashflow_box" type="radio" value="False" style="margin-left: 20px;" checked />
                      						<label for="id_has_cashflow_box_1" class="switchBtn-label switchBtn-label-on">No</label>
                      						<span class="switchBtn-selection"></span>
                    					</div>
                    					<div class="input-group" style="margin-top: 2em;display:none;">
                      						<span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                      						<input id="id_cashflow_box_starting_amount" name="cashflow_box_starting_amount" type="text" class="form-control" placeholder="Saldo Disponible (Opcional)"/>
                      						{{form.errors}}
                    					</div>
                    				</div>
                    				<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    					<button type="submit" class="btn btn-primary" style="margin-top: 2em;">¡Hecho!</button>
                    				</div>
                					</form>
                				</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
				</div><!-- end Panel -->
			</div><!-- container -->
		</div><!-- content -->
{% endblock %}
{% block custom-js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.input-group input').click(function(){
				console.log($(this).val());
				if($(this).val() == 'True')
				{
					$(this).closest('.input-group').next('.input-group').fadeIn();
				}
				else
				{
					$(this).closest('.input-group').next('.input-group').fadeOut();
				}

			});
		});
	</script>
	<script src="{% static "js/magic.js" %}"></script>
{% endblock %}