{% extends "base.html" %}
{% load static from staticfiles %}
{% block custom-css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/components.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker.css" %}">
{% endblock %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect active">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
{% block content %}
<div id="dialog1" title="Eliminar Ingreso">
  <p>¿Estás seguro(a) de que quieres eliminar este Ingreso?</p>
</div>
<div id="dialog2" title="Eliminar Egreso">
  <p>¿Estás seguro(a) de que quieres eliminar este Egreso?</p>
</div>
<!-- popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar Egreso</h4>
      </div>
      <form name="todo-form" id="todo-form formProvee" role="form" class="m-t-20">
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 todo-inputbar form-group">
            <p style="color: #565656;">Precio</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                <input id="egressprice" type="text" class="form-control formFlow" placeholder="200.000" aria-describedby="basic-addon1" required>
              </div>
            </div>
            <div class="col-sm-12 todo-inputbar form-group">
            <p style="color: #565656;">Concepto</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-book"></i></span>
                <select id="egressconcept" class="form-control">
                	{% for concept in concepts%}
                	<option value="{{concept.id}}">{{concept}}</option>
                	{% endfor %}
                </select>
              </div>
            </div>
            <div class="col-sm-12 todo-inputbar form-group">
            <p style="color: #565656;">Fecha</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-calendar"></i></span>
                <input name="budget_life_starting" type="text" class="form-control formFlow" placeholder="mm/dd/yyyy">
              </div>
            </div> 
            <div class="col-sm-12 todo-inputbar form-group">
            <p style="color: #565656;">Comentario (Opcional)</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-comments-o"></i></span>
                <textarea rows="3" cols="50" id="egresscomment" type="text" class="form-control formFlow" placeholder="Comentario" aria-describedby="basic-addon1"></textarea>
              </div>
            </div>
            <input type="hidden" id="building" value="{{building.id}}">
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="margin-top: 10px;" data-dismiss="modal">Cancelar</button>
        <a id="savePro" class="btn btn-danger" style="margin-top: 10px;" onclick="AddEgress()">Registrar Egreso</a>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- fin poup -->
<!-- popup -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Registrar Ingreso</h4>
      </div>
      <form name="todo-form" id="todo-form formProvee" role="form" class="m-t-20">
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-8 todo-inputbar form-group">
            <p style="color: #565656;">Precio</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                <input id="incomeprice" type="text" class="form-control formFlow" placeholder="200.000" aria-describedby="basic-addon1" required>
              </div>
            </div>
            <div class="col-sm-8 todo-inputbar form-group">
            <p style="color: #565656;">Concepto</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-book"></i></span>
                <select id="incomeconcept" class="form-control">
                	{{incomechoices}}
                	{% for x,y in incomechoices%}
                	<option value="{{x}}">{{y}}</option>
                	{% endfor %}
                </select>
              </div>
            </div>
            <div class="col-sm-8 todo-inputbar form-group">
            <p style="color: #565656;">Fecha</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-calendar"></i></span>
                <input name="budget_life_starting" type="text" class="form-control formFlow" placeholder="mm/dd/yyyy">
              </div>
            </div>
            <div class="col-sm-8 todo-inputbar form-group">
            <p style="color: #565656;">Comentario (Opcional)</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form  fa-comments-o"></i></span>
                <textarea rows="3" cols="50" id="incomecomment" type="text" class="form-control formFlow" placeholder="Comentario" aria-describedby="basic-addon1"></textarea>
              </div>
            </div>
            <input type="hidden" id="building" value="{{building.id}}">
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="margin-top: 10px;" data-dismiss="modal">Cancelar</button>
        <a id="savePro" class="btn btn-primary" style="margin-top: 10px;" onclick="AddIncome()">Registrar Ingreso</a>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- fin poup -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Flujo de Caja</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row text-center" style="margin-bottom: 2em;">
                                <h1 style="font-size: 48px; margin-bottom: 0.5em;" id="amount">${{available_amount}}<span style="font-size: 16px">(En caja)</span></h1>
                                <button id="addIncome" type="button" class="text-center btn btn-danger waves-effect waves-light m-b-5" style="margin-right: 20px;" data-toggle="modal" data-target="#myModal">Registrar Egreso</button>
                                <button id="addIncome" type="button" class="text-center btn btn-primary waves-effect waves-light m-b-5" style="margin-right: 10px;" data-toggle="modal" data-target="#myModal2">Registrar Ingreso</button>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                  <h3 class="panel-title" style="color: #565656;">Tabla de Egresos</h3>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                  <h3 class="panel-title" style="color: #565656;">Tabla de Ingresos</h3>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                              <th>Concepto</th>
                                              <th>Precio</th>
                                              <th>Fecha</th>
                                              <th>Acciones</th>
                                          </tr>
                                        </thead>
                                        <tbody id="bodytable-egress">
                                          {% for egress_movement in egress %}
                                            <tr>
                                              <td>{{egress_movement.concept}}</td>
                                              <td><strong>${{egress_movement.price}}</strong></td>
                                              <td>{{egress_movement.date|date:"j F Y"}}</td>
                                              <td class="actions">
                                                  <a id="{{egress_movement.id}}" href="#" class="on-default remove-row" onclick="RemoveEgress(this)"><i style="color: #ef5350;"class="fa fa-trash-o"></i></a>
                                              </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                              <th>Concepto</th>
                                              <th>Precio</th>
                                              <th>Fecha</th>
                                              <th>Acciones</th>
                                          </tr>
                                        </thead>
                                        <tbody id="bodytable-incomes">
                                          {% for income_movement in incomes %}
                                            <tr id="income_{{income_movement.id}}">
                                              <td>{{income_movement.get_concept_display}}</td>
                                              <td><strong>${{income_movement.price}}</strong></td>
                                              <td>{{income_movement.date|date:"j F Y"}}</td>
                                              <td class="actions">
                                                  <a id="{{income_movement.id}}" href="#" class="on-default remove-row" onclick="RemoveIncome(this)" data-toggle="tooltip" title="Eliminar"><i style="color: #ef5350;"class="fa fa-trash-o"></i></a>
                                              </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block custom-js %}
    <script>var resizefunc = [];</script>
    <script src="//code.jquery.com/jquery-1.8.2.js"></script>
    <script src="{% static "js/hood.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "js/magic.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}">
    </script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript">$(document).ready(function() {
                $('#datatable').dataTable();
            } );</script>
    <script>
            $(document).ready(function() {

                // Date Picker
                $('.datepicker').datepicker();
                $('.datepicker-inline').datepicker();
                $('.datepicker-multiple').datepicker({
                    numberOfMonths: 3,
                    showButtonPanel: true
                });
                // Date Picker 2
                $('.datepicker2').datepicker();
                $('.datepicker-inline2').datepicker();
                $('.datepicker-multiple2').datepicker({
                    numberOfMonths: 3,
                    showButtonPanel: true
                });
            });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
    $("#dialog1").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
    });
    $("#dialog2").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
    });

    $(".remove-income").click(function(e) {
        e.preventDefault();
        var IncomeID = $(this).attr("id");
        var url = "/income/"+IncomeID+"/delete/";
        $("#dialog1").dialog('option', 'buttons', {
            "Confirmar" : function() {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(data){
                        $("#dialog1").dialog("close");
                        if (data['newavailable_amount'] !=''){
                          newavailable_amount = data['newavailable_amount'];
                          $('#amount').html("<h1 style='font-size: 48px; margin-bottom: 0.5em;' id='amount'>$"+newavailable_amount+"<span style='font-size: 16px'>(En caja)</span></h1>")
                        }
                    }
                });
            },
            "Cancelar" : function() {
                $(this).dialog("close");
            }
        });
        $("#dialog1").dialog("open");

    });
    $(".remove-egress").click(function(e) {
        e.preventDefault();
        var EgressID = $(this).attr("id");
        var url = "/egress/"+EgressID+"/delete/";
        $("#dialog2").dialog('option', 'buttons', {
            "Confirmar" : function() {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(data){
                        $("#dialog2").dialog("close");
                        if (data['newavailable_amount'] !=''){
                          newavailable_amount = data['newavailable_amount'];
                          $('#amount').html("<h1 style='font-size: 48px; margin-bottom: 0.5em;' id='amount'>$"+newavailable_amount+"<span style='font-size: 16px'>(En caja)</span></h1>")
                        }
                    }
                });
            },
            "Cancelar" : function() {
                $(this).dialog("close");
            }
        });
        $("#dialog2").dialog("open");

    });
});
    </script>
    <script>
  window.intercomSettings = {
    app_id: "elo2bo40",
    name: "{{ request.user.user_profile.name }}", // Full name
    email: "{{ request.user.email }}", // Email address
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/elo2bo40';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    {% endblock %}