{% extends "base.html" %}
{% load static from staticfiles %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect active">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
{% block content %}
<!-- popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cantidad Disponible en Caja</h4>
      </div>
      <form method="POST">
      {% csrf_token %}
      <div class="modal-body">
          <div class="row">
          <p>Para empezar a usar el módulo de caja especifica que cantidad tienes disponible en este momento. Una vez hecho esto, cada vez que recibas un egreso o ingreso se calculará automáticamente tu nuevo saldo disponible</p>
            <div class="col-sm-12 todo-inputbar form-group">
            <p style="color: #565656;">Cantidad disponible:</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                <input id="id_starting_amount" maxlength="50" name="starting_amount" type="text" class="form-control formFlow" placeholder="200.00" style="font-size: 18px;" required>
              </div>
            </div>
          </div>  
          {{form.errors}}      
      </div>
      <div class="modal-footer">
        <button id="savePro" class="btn btn-primary" style="margin-top: 10px;" type="submit">Guardar</button> 
      </div>
      </form>
    </div>
  </div>
</div>
<!-- fin poup -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">Manejo de Caja</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="row text-center" style="margin-bottom: 2em;">
                                <button id="addIncome" type="button" class="text-center btn btn-danger waves-effect waves-light m-b-5" style="margin-right: 10px;" data-toggle="modal" data-target="#myModal">Registrar Egreso</button>
                                <button id="addIncome" type="button" class="text-center btn btn-primary waves-effect waves-light m-b-5" style="margin-right: 10px;" data-toggle="modal" data-target="#myModal2">Registrar Ingreso</button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        	<th>Tipo</th>
                                            <th>Concepto</th>
                                            <th>Precio</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodytable">
                                        {% for egress_movement in egress %}
                                        <tr>
                                        	<td>Egreso</td>
                                            <td>{{egress_movement.concept}}</td>
                                            <td>${{egress_movement.price}}</td>
                                            <td>{{egress_movement.date|date:"l, j F Y. g:i A"}}</td>
                                            <td class="actions">
                                                <a href="#" class="on-default">
                                                <i class="fa fa-eye"></i>
                                                </a> 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for income_movement in incomes %}
                                        <tr>
                                        	<td>Ingreso</td>
                                            <td>{{income_movement.get_concept_display}}</td>
                                            <td>${{income_movement.price}}</td>
                                            <td>{{income_movement.date|date:"l, j F Y. g:i A"}}</td>
                                            <td class="actions">
                                                <a href="#" class="on-default">
                                                <i class="fa fa-eye"></i>
                                                </a> 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block custom-js %}
    <script>var resizefunc = [];</script>
    <script src="//code.jquery.com/jquery-1.8.2.js"></script>
    <script src="{% static "js/hood.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "js/magic.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript">$(document).ready(function() {
                $("#myModal").modal({backdrop: "static"});
                $('#datatable').dataTable();
            } );</script>
    {% endblock %}