{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
		<meta name="author" content="Coderthemes">
		<link rel="shortcut icon" href="assets/images/favicon_1.ico">
		<title>Moltran - Responsive Admin Dashboard Template</title>
		<link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css"><!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      </head>
      <body>
      	<div class="wrapper-page">
      		<div class="panel panel-color panel-primary panel-pages">
      			<div class="panel-heading bg-img">
      				<div class="bg-overlay">      					
      				</div>
      				<h3 class="text-center m-t-10 text-white">
      					<strong>Inicia Sesión</strong>
      				</h3>
      			</div>
      			<div class="panel-body">
      				<form class="form-horizontal m-t-20" method="POST" action="">
      					{% csrf_token %}
      					<div class="form-group">
      						<div class="col-xs-12">
      							<input class="form-control input-lg required" id="id_identification" type="text" name="identification" placeholder="Email o nombre de usuario">
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-xs-12">
      							<input class="form-control input-lg required" id="id_password" name="password" type="password" placeholder="Contraseña">
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-xs-12">
      							<div class="checkbox checkbox-primary">
      							<input id="id_remember_me" name="remember_me" type="checkbox" />
      							<label for="id_remember_me">Recordarme</label>
      						</div>
      					</div>

      				</div>
      				<div class="form-group text-center m-t-40">
      					<div class="col-xs-12">
      						<button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Log In</button>
      					</div>
      				</div>
      				<div class="form-group m-t-30">
      					<div class="col-sm-7">
      						<a href="recoverpw.html">
      							<i class="fa fa-lock m-r-5"></i> ¿Olvidaste tu contraseña?
      						</a>
      					</div>
      					<div class="col-sm-5 text-right">
      						<a href="{% url "signup" %}">Registarte</a>
      					</div>
      				</div>
      			</form>
      		</div>
      	</div>
      </div>
      <script>var resizefunc = [];</script><script src="{% static "js/hood.js" %}"></script></body></html>