{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
		<meta name="author" content="Coderthemes">
		<link rel="shortcut icon" href="assets/images/favicon_1.ico">
		<title>Moltran - Responsive Admin Dashboard Template</title>
		<link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css"><!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	</head>
	<body>
		<div class="wrapper-page">
			<div class="panel panel-color panel-primary panel-pages">
				<div class="panel-heading bg-img">
					<div class="bg-overlay"></div>
					<h3 class="text-center m-t-10 text-white">Registrate</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal m-t-20" name="user_form" method="POST" action="">
					{% csrf_token %}
    					<div class="form-group">
    						<div class="col-xs-12">
    							{{form.username.errors}}
    							<input class="form-control input-lg required" id="id_username"name="username" type="text" placeholder="Username"/>
    						</div>
    					</div>
						<div class="form-group">
							<div class="col-xs-12">
    							{{form.email.errors}}
								<input class="form-control input-lg required" id="id_email" name="email" type="text" placeholder="Email" />
							</div>
    					</div>
    					<div class="form-group">
    						<div class="col-xs-12">
    							{{form.name.errors}}
    							<input class="form-control input-lg required" id="id_name" name="name" type="text" maxlength="30" name="name" placeholder="Tu nombre"/>
    						</div>
    					</div>
    					<div class="form-group">
    						<div class="col-xs-12">
    							{{form.last_name.errors}}
    							<input class="form-control input-lg required" id="id_last_name" name="last_name" type="text" maxlength="30" placeholder="Tu apellido"/>
    						</div>
    					</div>
    					<div class="form-group">
    						<div class="col-xs-12">
    							{{form.address.errors}}
    							<input class="form-control input-lg required" id="id_address" type="text" maxlength="30" name="address" placeholder="Tu direccion"/>
    						</div>
    					</div>
    					<div class="form-group">
    						<div class="col-xs-12">
    							{{form.phone_number.errors}}
    							<input class="form-control input-lg required" id="id_phone_number" name="phone_number" type="text" maxlength="30" placeholder="Tu telefono"/>
    						</div>
    					</div>
						<div class="form-group">
							<div class="col-xs-12">
								{{form.password1.errors}}
								<input class="form-control input-lg required" id="id_password1" name="password1" type="password" placeholder="Contraseña"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								{{form.password2.errors}}
								<input class="form-control input-lg required" id="id_password2" name="password2" type="password" placeholder="Confirma tu contraseña"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								{{form.user_type.errors}}
								<input class="form-control input-lg required" id="id_user_type" name="user_type" type="hidden" value="ADMN" />
							</div>
						</div>
						<div class="form-group text-center m-t-40">
							<div class="col-xs-12">
								<button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Registrarme
								</button>
							</div>
						</div>
						<div class="form-group m-t-30">
							<div class="col-sm-12 text-center">
								<a href="{% url "login" %}">¿Ya tienes una cuenta?</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>var resizefunc = [];</script>
        <script src="js/hood.js"></script></body></html>