{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
		<meta name="author" content="Coderthemes">
		<link rel="shortcut icon" href="assets/images/favicon_1.ico">
		<title>Moltran - Responsive Admin Dashboard Template</title>
		<link href="assets/vendor/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css"><link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css"><!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]--><script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
     </head>
     <body class="fixed-left">
     	<div id="wrapper">
     		<div class="topbar">
     			<div class="topbar-left">
     				<div class="text-center">
     					<a href="index.html" class="logo">
     						<i class="md md-terrain"></i> 
     						<span>Moltran</span>
     					</a>
     				</div>
     			</div>
     			<div class="navbar navbar-default" role="navigation">
     				<div class="container">
     					<div class="">
     						<div class="pull-left">
     							<button class="button-menu-mobile open-left">
     								<i class="fa fa-bars"></i>
     							</button> 
     							<span class="clearfix"></span>
     						</div>
     						<form class="navbar-form pull-left" role="search">
     							<div class="form-group">
     								<input type="text" class="form-control search-bar" placeholder="Type here for search...">
     							</div>
     							<button type="submit" class="btn btn-search">
     								<i class="fa fa-search"></i>
     							</button>
     						</form>
     						<ul class="nav navbar-nav navbar-right pull-right">
     							<li class="dropdown hidden-xs">
     								<a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
     									<i class="md md-notifications"></i> 
     									<span class="badge badge-xs badge-danger">3</span>
     								</a>
     								<ul class="dropdown-menu dropdown-menu-lg">
     									<li class="text-center notifi-title">Notification</li>
     									<li class="list-group">
     										<a href="javascript:void(0);" class="list-group-item">
     										<div class="media">
     											<div class="pull-left">
     												<em class="fa fa-user-plus fa-2x text-info"></em>
     											</div>
     											<div class="media-body clearfix">
     												<div class="media-heading">New user registered</div>
     												<p class="m-0">
     													<small>You have 10 unread messages</small>
     												</p>
     											</div>
     										</div>
     										</a> 
     										<a href="javascript:void(0);" class="list-group-item">
     											<div class="media">
     												<div class="pull-left">
     													<em class="fa fa-diamond fa-2x text-primary"></em>
     												</div>
     												<div class="media-body clearfix">
     													<div class="media-heading">New settings</div>
     													<p class="m-0"><small>There are new settings available</small>
     													</p>
     												</div>
     											</div>
     										</a> 
     										<a href="javascript:void(0);" class="list-group-item"><div class="media">
     											<div class="pull-left">
     												<em class="fa fa-bell-o fa-2x text-danger"></em>
     											</div>
     											<div class="media-body clearfix">
     												<div class="media-heading">Updates</div>
     												<p class="m-0"><small>There are <span class="text-primary">2</span> new updates available</small></p>
     											</div>
     										</div>
     										</a> 
     										<a href="javascript:void(0);" class="list-group-item">	<small>See all notifications</small>
     										</a>
     									</li>
     								</ul>
     							</li>
     							<li class="hidden-xs">
     								<a href="#" id="btn-fullscreen" class="waves-effect waves-light">
     									<i class="md md-crop-free"></i>
     								</a>
     							</li>
     							<li class="hidden-xs">
     								<a href="#" class="right-bar-toggle waves-effect waves-light">		<i class="md md-chat"></i>
     								</a>
     							</li>
     							<li class="dropdown">
     								<a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
     									<img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle">
     								</a>
     								<ul class="dropdown-menu">
     									<li>
     										<a href="javascript:void(0)">
     											<i class="md md-face-unlock"></i> 
     											Profile
     										</a>
     									</li>
     									<li>
     										<a href="javascript:void(0)">
     											<i class="md md-settings"></i>
     											Settings
     										</a>
     									</li>
     									<li>
     										<a href="javascript:void(0)">
     											<i class="md md-lock"></i> 
     											Lock screen
     										</a>
     									</li>
     									<li>
     										<a href="javascript:void(0)">
     											<i class="md md-settings-power"></i> 
     											Logout
     										</a>
     									</li>
     								</ul>
     							</li>
     						</ul>
     					</div>
     				</div>
     			</div>
     		</div>
     		<div class="left side-menu">
     			<div class="sidebar-inner slimscrollleft">
     				<div class="user-details">
     					<div class="pull-left">
     						<img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
     					</div>
     					<div class="user-info">
     						<div class="dropdown">
     							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     								{{userprofile.name}} {{userprofile.last_name}}
     								<span class="caret"></span>
     							</a>
     							<ul class="dropdown-menu">
     							<li>
     								<a href="javascript:void(0)">
     									<i class="md md-face-unlock"></i> 
     									Profile
     									<div class="ripple-wrapper"></div>
     								</a>
     							</li>
     							<li>
     								<a href="javascript:void(0)">
     									<i class="md md-settings"></i>
     									Settings
     								</a>
     							</li>
     							<li>
     								<a href="javascript:void(0)">
     									<i class="md md-lock"></i> 
     									Lock screen
     								</a>
     							</li>
     							<li>
     								<a href="javascript:void(0)">
     									<i class="md md-settings-power"></i>
     									Logout
     								</a>
     							</li>
     						</ul>
     					</div>
     					<p class="text-muted m-0">Administrator</p>
     				</div>
     			</div>
     			<div id="sidebar-menu">
     				<ul>
     					<li>
     						<a href="index.html" class="waves-effect active">
     							<i class="md md-home"></i>
     							<span>Dashboard</span>
     						</a>
     					</li>
     					<li>
     						<a href="{% url "buildings" %}" class="waves-effect">
     							<i class="md md-mail"></i>
     							<span>Edificios</span>
     							<span class="pull-right">
     								<i class="md md-add"></i>
     							</span>
     						</a>
     					</li>
     					<li>
     						<a href="calendar.html" class="waves-effect">
     							<i class="md md-event"></i>
     							<span>Proveedores</span>
     						</a>
     					</li>
     					<li class="has_sub">
     						<a href="#" class="waves-effect">
     							<i class="md md-palette"></i> 
     							<span>Elements</span> 
     							<span class="pull-right">
     							<i class="md md-add"></i>
     							</span>
     						</a>
     						<ul class="list-unstyled">
     						<li>
     							<a href="typography.html">Typography</a>
     						</li>
     						<li>
     							<a href="buttons.html">Buttons</a>
     						</li>
     						<li>
     							<a href="panels.html">Panels</a>
     						</li>
     						<li>
     							<a href="checkbox-radio.html">Checkboxs-Radios</a>
     						</li>
     						<li>
     							<a href="tabs-accordions.html">Tabs &amp; Accordions</a>
     						</li>
     						<li>
     							<a href="modals.html">Modals</a>
     						</li>
     						<li>
     							<a href="bootstrap-ui.html">BS Elements</a>
     						</li>
     						<li>
     							<a href="progressbars.html">Progress Bars</a>
     						</li>
     						<li>
     							<a href="notification.html">Notification</a>
     						</li>
     						<li>
     							<a href="sweet-alert.html">Sweet-Alert</a>
     						</li>
     					</ul>
     				</li>
     				<li class="has_sub">
     					<a href="#" class="waves-effect">
     						<i class="md md-invert-colors-on"></i>
     						<span>Components</span>
     						<span class="pull-right">
     							<i class="md md-add"></i>
     						</span>
     					</a>
     					<ul class="list-unstyled">
     						<li>
     							<a href="grid.html">Grid</a>
     						</li>
     						<li>
     							<a href="portlets.html">Portlets</a>
     						</li>
     						<li>
     							<a href="widgets.html">Widgets</a>
     						</li>
     						<li>
     							<a href="nestable-list.html">Nesteble</a>
     						</li>
     						<li>
     							<a href="ui-sliders.html">Sliders</a>
     						</li>
     						<li>
     							<a href="gallery.html">Gallery</a>
     						</li>
     						<li>
     							<a href="pricing.html">Pricing Table</a>
     						</li>
     					</ul>
     				</li>
     				<li class="has_sub"><a href="#" class="waves-effect"><i class="md md-redeem"></i> <span>Icons</span> <span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="material-icon.html">Material Design</a></li><li><a href="ion-icons.html">Ion Icons</a></li><li><a href="font-awesome.html">Font awesome</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-now-widgets"></i><span>Forms</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="form-elements.html">General Elements</a></li><li><a href="form-validation.html">Form Validation</a></li><li><a href="form-advanced.html">Advanced Form</a></li><li><a href="form-wizard.html">Form Wizard</a></li><li><a href="form-editor.html">WYSIWYG Editor</a></li><li><a href="code-editor.html">Code Editors</a></li><li><a href="form-uploads.html">Multiple File Upload</a></li><li><a href="form-xeditable.html">X-editable</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-view-list"></i><span>Data Tables</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="tables.html">Basic Tables</a></li><li><a href="table-datatable.html">Data Table</a></li><li><a href="tables-editable.html">Editable Table</a></li><li><a href="responsive-table.html">Responsive Table</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-poll"></i><span>Charts</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="morris-chart.html">Morris Chart</a></li><li><a href="chartjs.html">Chartjs</a></li><li><a href="flot-chart.html">Flot Chart</a></li><li><a href="peity-chart.html">Peity Charts</a></li><li><a href="charts-sparkline.html">Sparkline Charts</a></li><li><a href="chart-radial.html">Radial charts</a></li><li><a href="other-chart.html">Other Chart</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-place"></i><span>Maps</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="gmap.html">Google Map</a></li><li><a href="vector-map.html">Vector Map</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-pages"></i><span>Pages</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="profile.html">Profile</a></li><li><a href="timeline.html">Timeline</a></li><li><a href="invoice.html">Invoice</a></li><li><a href="email-template.html">Email template</a></li><li><a href="contact.html">Contact-list</a></li><li><a href="login.html">Login</a></li><li><a href="register.html">Register</a></li><li><a href="recoverpw.html">Recover Password</a></li><li><a href="lock-screen.html">Lock Screen</a></li><li><a href="blank.html">Blank Page</a></li><li><a href="maintenance.html">Maintenance</a></li><li><a href="coming-soon.html">Coming-soon</a></li><li><a href="404.html">404 Error</a></li><li><a href="404_alt.html">404 alt</a></li><li><a href="500.html">500 Error</a></li></ul></li><li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="md md-share"></i><span>Multi Level</span><span class="pull-right"><i class="md md-add"></i></span></a><ul><li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span> <span class="pull-right"><i class="md md-add"></i></span></a><ul style=""><li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li><li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li><li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li></ul></li><li><a href="javascript:void(0);"><span>Menu Level 1.2</span></a></li></ul></li></ul><div class="clearfix"></div></div><div class="clearfix"></div></div></div><div class="content-page"><div class="content"><div class="container"><div class="row"><div class="col-sm-12"><h4 class="pull-left page-title">Welcome !</h4><ol class="breadcrumb pull-right"><li><a href="#">Moltran</a></li><li class="active">Dashboard</li></ol></div></div><div class="row"><div class="col-md-6 col-sm-6 col-lg-3"><div class="mini-stat clearfix bx-shadow bg-white"><span class="mini-stat-icon bg-info"><i class="ion-social-usd"></i></span><div class="mini-stat-info text-right text-dark"><span class="counter text-dark">15852</span> Total Sales</div><div class="tiles-progress"><div class="m-t-20"><h5 class="text-uppercase">Target <span class="pull-right">60%</span></h5><div class="progress progress-sm m-0"><div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span></div></div></div></div></div></div><div class="col-md-6 col-sm-6 col-lg-3"><div class="mini-stat clearfix bx-shadow bg-white"><span class="mini-stat-icon bg-purple"><i class="ion-ios7-cart"></i></span><div class="mini-stat-info text-right text-dark"><span class="counter text-dark">956</span> New Orders</div><div class="tiles-progress"><div class="m-t-20"><h5 class="text-uppercase">Target <span class="pull-right">90%</span></h5><div class="progress progress-sm m-0"><div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="sr-only">90% Complete</span></div></div></div></div></div></div><div class="col-md-6 col-sm-6 col-lg-3"><div class="mini-stat clearfix bx-shadow bg-white"><span class="mini-stat-icon bg-success"><i class="ion-android-contacts"></i></span><div class="mini-stat-info text-right text-dark"><span class="counter text-dark">5210</span> New Users</div><div class="tiles-progress"><div class="m-t-20"><h5 class="text-uppercase">Target <span class="pull-right">57%</span></h5><div class="progress progress-sm m-0"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%"><span class="sr-only">57% Complete</span></div></div></div></div></div></div><div class="col-md-6 col-sm-6 col-lg-3"><div class="mini-stat clearfix bx-shadow bg-white"><span class="mini-stat-icon bg-primary"><i class="ion-eye"></i></span><div class="mini-stat-info text-right text-dark"><span class="counter text-dark">20544</span> Unique Visitors</div><div class="tiles-progress"><div class="m-t-20"><h5 class="text-uppercase">Target <span class="pull-right">60%</span></h5><div class="progress progress-sm m-0"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span></div></div></div></div></div></div></div><div class="row"><div class="col-lg-8"><div class="portlet"><div class="portlet-heading"><h3 class="portlet-title text-dark text-uppercase">Website Stats</h3><div class="portlet-widgets"><a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a> <span class="divider"></span> <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a> <span class="divider"></span> <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a></div><div class="clearfix"></div></div><div id="portlet1" class="panel-collapse collapse in"><div class="portlet-body"><div class="row"><div class="col-md-12"><div id="website-stats" style="position: relative;height: 320px"></div><div class="row text-center m-t-30"><div class="col-sm-4"><h4 class="counter">86,956</h4><small class="text-muted">Weekly Report</small></div><div class="col-sm-4"><h4 class="counter">86,69</h4><small class="text-muted">Monthly Report</small></div><div class="col-sm-4"><h4 class="counter">948,16</h4><small class="text-muted">Yearly Report</small></div></div></div></div></div></div></div></div><div class="col-lg-4"><div class="portlet"><div class="portlet-heading"><h3 class="portlet-title text-dark text-uppercase">Website Stats</h3><div class="portlet-widgets"><a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a> <span class="divider"></span> <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a> <span class="divider"></span> <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a></div><div class="clearfix"></div></div><div id="portlet2" class="panel-collapse collapse in"><div class="portlet-body"><div class="row"><div class="col-md-12"><div id="pie-chart"><div id="pie-chart-container" class="flot-chart" style="height: 320px"></div></div><div class="row text-center m-t-30"><div class="col-sm-6"><h4 class="counter">86,956</h4><small class="text-muted">Weekly Report</small></div><div class="col-sm-6"><h4 class="counter">86,69</h4><small class="text-muted">Monthly Report</small></div></div></div></div></div></div></div></div></div><div class="row"><div class="col-lg-4"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title">Inbox</h4></div><div class="panel-body"><div class="inbox-widget nicescroll mx-box"><a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-1.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Chadengle</p><p class="inbox-item-text">Hey! there I'm available...</p><p class="inbox-item-date">13:40 PM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Tomaslau</p><p class="inbox-item-text">I've finished it! See you so...</p><p class="inbox-item-date">13:34 PM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Stillnotdavid</p><p class="inbox-item-text">This theme is awesome!</p><p class="inbox-item-date">13:17 PM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Kurafire</p><p class="inbox-item-text">Nice to meet you</p><p class="inbox-item-date">12:20 PM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Shahedk</p><p class="inbox-item-text">Hey! there I'm available...</p><p class="inbox-item-date">10:15 AM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-6.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Adhamdannaway</p><p class="inbox-item-text">This theme is awesome!</p><p class="inbox-item-date">9:56 AM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-8.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Arashasghari</p><p class="inbox-item-text">Hey! there I'm available...</p><p class="inbox-item-date">10:15 AM</p></div></a> <a href="#"><div class="inbox-item"><div class="inbox-item-img"><img src="assets/images/users/avatar-9.jpg" class="img-circle" alt=""></div><p class="inbox-item-author">Joshaustin</p><p class="inbox-item-text">I've finished it! See you so...</p><p class="inbox-item-date">9:56 AM</p></div></a></div></div></div></div><div class="col-lg-4"><div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">Chat</h3></div><div class="panel-body"><div class="chat-conversation"><ul class="conversation-list nicescroll"><li class="clearfix"><div class="chat-avatar"><img src="assets/images/avatar-1.jpg" alt="male"> <i>10:00</i></div><div class="conversation-text"><div class="ctext-wrap"><i>John Deo</i><p>Hello!</p></div></div></li><li class="clearfix odd"><div class="chat-avatar"><img src="assets/images/users/avatar-5.jpg" alt="Female"> <i>10:01</i></div><div class="conversation-text"><div class="ctext-wrap"><i>Smith</i><p>Hi, How are you? What about our next meeting?</p></div></div></li><li class="clearfix"><div class="chat-avatar"><img src="assets/images/avatar-1.jpg" alt="male"> <i>10:01</i></div><div class="conversation-text"><div class="ctext-wrap"><i>John Deo</i><p>Yeah everything is fine</p></div></div></li><li class="clearfix odd"><div class="chat-avatar"><img src="assets/images/users/avatar-5.jpg" alt="male"> <i>10:02</i></div><div class="conversation-text"><div class="ctext-wrap"><i>Smith</i><p>Wow that's great</p></div></div></li></ul><div class="row"><div class="col-sm-9 chat-inputbar"><input type="text" class="form-control chat-input" placeholder="Enter your text"></div><div class="col-sm-3 chat-send"><button type="submit" class="btn btn-info btn-block waves-effect waves-light">Send</button></div></div></div></div></div></div><div class="col-lg-4"><div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">Todo</h3></div><div class="panel-body todoapp"><div class="row"><div class="col-sm-6"><h4 id="todo-message"><span id="todo-remaining"></span> of <span id="todo-total"></span> remaining</h4></div><div class="col-sm-6"><a href="" class="pull-right btn btn-primary btn-sm waves-effect waves-light" id="btn-archive">Archive</a></div></div><ul class="list-group no-margn nicescroll todo-list" style="max-height: 288px" id="todo-list"></ul><form name="todo-form" id="todo-form" role="form" class="m-t-20"><div class="row"><div class="col-sm-9 todo-inputbar"><input type="text" id="todo-input-text" name="todo-input-text" class="form-control" placeholder="Add new todo"></div><div class="col-sm-3 todo-send"><button class="btn-primary btn-block btn waves-effect waves-light" type="button" id="todo-btn-submit">Add</button></div></div></form></div></div></div></div></div></div><footer class="footer text-right">2015 © Moltran.</footer></div><div class="side-bar right-bar nicescroll"><h4 class="text-center">Chat</h4><div class="contact-list nicescroll"><ul class="list-group contacts-list"><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-1.jpg" alt=""></div><span class="name">Chadengle</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-2.jpg" alt=""></div><span class="name">Tomaslau</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-3.jpg" alt=""></div><span class="name">Stillnotdavid</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-4.jpg" alt=""></div><span class="name">Kurafire</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-5.jpg" alt=""></div><span class="name">Shahedk</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-6.jpg" alt=""></div><span class="name">Adhamdannaway</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-7.jpg" alt=""></div><span class="name">Ok</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-8.jpg" alt=""></div><span class="name">Arashasghari</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-9.jpg" alt=""></div><span class="name">Joshaustin</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-10.jpg" alt=""></div><span class="name">Sortino</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li></ul></div></div></div>
      <script>var resizefunc = [];</script>
      <script src="{% static "js/hood.js" %}"></script>
      <script src="{% static "js/moment.js" %}"></script>
      <script src="{% static "js/jquery.waypoints.js" %}"></script>
      <script src="{% static "js/jquery.counterup.min.js" %}"></script>
      <script src="{% static "js/sweetalert.min.js" %}"></script>
      <script src="{% static "js/jquery.flot.js" %}"></script>
      <script src="{% static "js/jquery.flot.time.js" %}"></script>
      <script src="{% static "js/jquery.flot.tooltip.min.js" %}"></script>
      <script src="{% static "js/jquery.flot.resize.js" %}"></script>
      <script src="{% static "js/jquery.flot.pie.js" %}"></script>
      <script src="{% static "js/jquery.flot.selection.js" %}"></script>
      <script src="{% static "js/jquery.flot.stack.js" %}"></script>
      <script src="{% static "js/jquery.flot.crosshair.js" %}"></script>
      <script src="{% static "js/jquery.todo.js" %}"></script>
      <script src="{% static "js/jquery.chat.js" %}"></script>
      <script src="{% static "js/jquery.dashboard.js" %}"></script>
      <script type="text/javascript">/* ==============================================
            Counter Up
            =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });</script></body></html>