{% load static from staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Regente" />
	<meta name="google-site-verification" content="gc7eiB2uR_v5eUPHBuZkHFiK8rznacee760SWGYRz2I" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/landing-style.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/dark.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/font-icons.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/animate.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/responsive.css" %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/plugins.js" %}"></script>

	<!-- Document Title
	============================================= -->
	<title>Regente - Administa tu copropiedad de forma rápida, eficiente y segura</title>
	{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
          {% include "ga.html" %}
    {% endif %}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{% url "landing" %}" class="standard-logo">
							<img src="{% static "images/logo-regente.png" %}" alt="Regente">
						</a>
						<a href="index.html" class="retina-logo">
							<img src="{% static "images/logo-regente.png" %}" alt="Regente">
						</a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li class="current"><a href="{% url "landing" %}" data-href="#section-home"><div>Inicio</div></a></li>
							<li><a href="{% url "signup" %}"><div>Registrate</div></a></li>
							<li><a href="{% url "login" %}"><div>Inicia sesión</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div id="section-home" class="heading-block title-center nobottomborder page-section">
						<h1>Administra tu copropiedad de forma rápida y eficiente</h1>
						<span>Incrementa la satisfacción de sus clientes mientras liberas carga operativa y reduces costos</span>
					</div>

					<div class="center bottommargin">
						<a href="{% url "signup" %}" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-star3"></i>EMPIEZA GRATIS YA</a>
					</div>

					<div class="clear"></div>
					<!--

					<div class="col_two_third topmargin nobottommargin">

						<div style="position: relative;" data-height-lg="535" data-height-md="442" data-height-sm="338" data-height-xs="316" data-height-xxs="201">
							<img data-animate="fadeInLeft" src="{% static "images/device1.png" %}" alt="Mac" style="position: absolute; top: 0; left: 0;">
							<img data-animate="fadeInRight" data-delay="300" src="{% static "images/device2.png" %}" alt="iPad" style="position: absolute; top: 0; left: 0;">
							<img data-animate="fadeInUp" data-delay="600" src="{% static "images/device3.png" %}" alt="iPhone" style="position: absolute; top: 0; left: 0;">
						</div>

					</div>-->
					<!--
					<div class="col_one_third topmargin nobottommargin col_last">

						<h3>Short Overview.</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quos, facilis esse rem dicta dignissimos eligendi earum sapiente ipsam iure vel deserunt? Soluta doloremque aspernatur quis asperiores numquam placeat dolore.</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ab incidunt temporibus rerum odio accusantium.</p>

						<div class="divider divider-short"><i class="icon-circle"></i></div>

						<ul class="iconlist iconlist-large iconlist-color">
							<li><i class="icon-ok-sign"></i> Interactive Live Builder</li>
							<li><i class="icon-ok-sign"></i> Valid HTML5 &amp; CSS3 Semantics</li>
							<li><i class="icon-ok-sign"></i> 100% Open Source &amp; Customizable</li>
							<li><i class="icon-ok-sign"></i> More than 70+ Widgets</li>
							<li><i class="icon-ok-sign"></i> Responsive &amp; Retina Devices Support</li>
							<li><i class="icon-ok-sign"></i> Easy Embeddable Media &amp; Graphics</li>
							<li><i class="icon-ok-sign"></i> Lifetime <strong>FREE</strong> Updates</li>
						</ul>

					</div>
					-->
					<div class="clear"></div>

					<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

					<div id="section-features" class="heading-block title-center page-section">
						<h2>AUMENTA TU PRODUCTIVIDAD</h2>
						<span>Tenemos todo lo necesario para ayudarte</span>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn">
								<a href="#"><img src="{% static "images/icons/tick.png" %}" alt="Retina Graphics"></a>
							</div>
							<h3>Cartera y Presupuesto</h3>
							<p>Puedes administrar tu edificio desde cualquier dispositivo en cualquier lugar del mundo y a la hora que quieras</p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1400">
								<a href="#"><img src="{% static "images/icons/support.png" %}" alt="Powerful Performance"></a>
							</div>
							<h3>Quejas de copropietarios</h3>
							<p>Recibe en tiempo real las quejas o inquietudes de propietarios y residentes en tu copropiedad</p>
						</div>
					</div>
					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1600">
								<a href="#"><img src="{% static "images/icons/seo.png" %}" alt="Retina Graphics"></a>
							</div>
							<h3>Busquedas avanzadas</h3>
							<p>Accede a toda la informacion de tu copropiedad en tiempo real y con busquedas avanzadas</p>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="600">
								<a href="#"><img src="{% static "images/icons/flag.png" %}" alt="Responsive Layout"></a>
							</div>
							<h3>Celadores y visitas</h3>
							<p>Un modulo especial para que los celadores de la copropiedad puedan registrar visitas y manejar eficientemente zonas sociales</p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="800">
								<a href="#"><img src="{% static "images/icons/responsive.png" %}" alt="Responsive Layout"></a>
							</div>
							<h3>Desde cualquier dispositivo</h3>
							<p>Maneja el presupuesto de tu edifcio y lleva registro de los pagos de cuotas de administracion</p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
								<a href="#"><img src="{% static "images/icons/map.png" %}" alt="Responsive Layout"></a>
							</div>
							<h3>Asambleas y actas</h3>
							<p>Prepara asambleas, toma asistencias y genera actas</p>
						</div>
					</div>

					<div class="clear"></div>

					<div class="clear"></div>

					<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

					<div id="section-pricing" class="heading-block title-center nobottomborder page-section">
                        <h2>El primer mes es gratis</h2>
                        <span>Luego decides si quieres quedarte. Seguro que lo haras</span>
                    </div>

                    <div class="pricing-box pricing-extended bottommargin clearfix">

                        <div class="pricing-desc">
                            <div class="pricing-title">
                                <h3>En tu primer mes gratis tendras los mismos beneficios de un usuario pago</h3>
                            </div>
                            <div class="pricing-features">
                                <ul class="iconlist-color clearfix">
                                    <li><i class="icon-checkmark"></i>Administra propietarios y habitantes</li>
                                    <li><i class="icon-checkmark"></i>Asigna y controla presupuestos</li>
                                    <li><i class="icon-checkmark"></i>Registra pagos de cuotas</li>
                                    <li><i class="icon-checkmark"></i>Recibe quejas de habitantes</li>
                                    <li><i class="icon-checkmark"></i>Planea asambleas</li>
                                    <li><i class="icon-checkmark"></i>Modulo para celadores</li>
                                </ul>
                            </div>
                        </div>

                        <div class="pricing-action-area">
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>0<span class="price-tenure">Mensuales</span>
                            </div>
                            <div class="pricing-action">
                                <a href="{% url "signup" %}" class="button button-3d button-large btn-block nomargin">EMPEZAR GRATIS</a>
                            </div>
                        </div>

                    </div>


					<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

				</div>

				<div id="section-buy" class="section page-section footer-stick">

					<div class="container clearfix">

						<div class="heading-block title-center nobottomborder">
							<h2>Administra de la forma correcta</h2>
							<span>Completa tareas de forma mas rapida y empieza a administrar muchos mas edificios</span>
						</div>

						<div class="center">

							<a href="{% url "signup" %}" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-star3"></i>EMPIEZA GRATIS YA</a>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{% static "js/functions.js" %}"></script>

	<script>
  window.intercomSettings = {
    app_id: "elo2bo40",
    name: "{{ request.user.user_profile.name }}", // Full name
    email: "{{ request.user.email }}", // Email address
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/elo2bo40';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/56c1dca601d98391160000e4.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
</body>
</html>