{% extends "base.html" %}
{% load static from staticfiles %}
{% block custom-css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.css">
{% endblock %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect active">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
{% block content %}
<div id="dialog1" title="Pago Registrado y Agregado a Caja">
      <p>El Pago se ha registrado y fue satisfactoriamente agregado como un Ingreso en el módulo de caja</p>
</div>
<div id="dialog2" title="El Pago fue Registrado pero hubo un error">
  <p>El pago se ha registrado satisfactoriamente pero ocurrió un problema agregandolo como Ingreso en el módulo de caja.
    Contacta a Soporte para resolver este problema.</p>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Registrar pago de cuota de administración</h4>
      </div>
      {% csrf_token %}
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 todo-inputbar form-group">
            <input type="hidden" id="payment_id">
            <p style="color: #565656;">Fecha en que se hizo el pago:</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-calendar"></i></span>
                <input id="payment_record_date" maxlength="50" name="starting_amount" type="text" class="form-control formFlow datepicker" placeholder="mm/dd/yyyy" style="font-size: 18px;" required>
              </div>
            </div>
            <div class="col-sm-12 todo-inputbar form-group">
            <p style="color: #565656;">Valor del Pago</p>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                <input id="fee_value" maxlength="50" name="starting_amount" type="text" class="form-control formFlow" placeholder="200.00" style="font-size: 18px;" required>
              </div>
            </div>
            <div class="col-sm-12 todo-inputbar form-group">
            <div class="input-group">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" class="form-control" id="fee_discount" name="fee_discount" value="True" />
                <label for="checkbox2">Aplicar descuento por pago oportuno  <span id="fee_discount_label_value"></span></label>
              </div>
            </div>
              <!--
                <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                <input id="fee_value" maxlength="50" name="starting_amount" type="text" class="form-control formFlow" placeholder="200.00" style="font-size: 18px;" required>
              </div>-->
            </div>
          </div>  
          {{form.errors}}      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="margin-top: 10px;" data-dismiss="modal">Cancelar</button>
        <button id="savePro" class="btn btn-primary" style="margin-top: 10px;" onclick="InlinePaymentPaid(this)">Aceptar</button> 
      </div>
    </div>
  </div>
</div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datatable</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table class="table Footable inline-list-info">
                                    <thead>
                                        <tr>
                                            <th data-title="APTO">Apartamento</th>
                                            <th>Propietario</th>
                                            <th data-breakpoints="xs" data-filterable="false">Fecha del Siguiente Pago</th>
                                            <th data-breakpoints="xs" data-filterable="false">Valor del Siguiente Pago</th>
                                            <th data-breakpoints="xs" data-type="html" data-filterable="false">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for apto in apartments %}
                                      <tr class="gradeX">
                                        <td class="tab_label_apto_name">{{apto.name}}</td>
                                      {% if apto.get_owner %}
                                        <td class="tab_label_apto_owner">{{apto.get_owner}}</td>
                                      {% else %}
                                        <td class="tab_label_apto_owner">No hay propietario registrado</td>
                                      {% endif %}
                                      {% if apto.get_next_payment %}
                                        <td class="tab_label_apto_date" id="next_payment_date">{{apto.get_next_payment.date_of_payment}}</td>
                                      {% else %}
                                        <td class="tab_label_apto_date">No hay pago siguiente registrado</td>
                                      {% endif %}
                                      {% if apto.get_next_payment %}
                                        <td class="tab_label_apto_value" id="next_payment_fee_value">${{apto.get_next_payment.fee_value}}</td>
                                      {% else %}
                                        <td class="tab_label_apto_value">No hay valor registrado para el siguiente pago</td>
                                      {% endif %}
                                      <td class="actions tab_label_actions">
                                      {% if apto.get_next_payment %}
                                        <a id="{{apto.get_next_payment.id}}" class="on-default" data-toggle="modal" data-target="#myModal" data-payment="{{apto.get_next_payment.fee_value}}" data-paymentid="{{apto.get_next_payment.id}}" data-feediscount="0000" style="text-decoration: underline;"><span style="display: inline-block; position: relative; top: 0; width: 16px; height: 17px;"><i class="icon fa-check"></i></span>
                                          Registrar Pago 
                                        </a>
                                      {% endif %}

                                      <a href="{% url "adminfee_payments" apto.building.slug apto.pk %}" class="on-default" style="text-decoration: underline;">
                                      <span style="display: inline-block; position: relative; top: 0; width: 16px; height: 17px;"><i class="icon fa-eye"></i></span>
                                        Ver Registro de Pagos
                                      </a> 
                                      </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block custom-js %}
    <script>var resizefunc = [];</script>
    <script src="//code.jquery.com/jquery-1.8.2.js"></script>
    <script src="{% static "js/magic.js" %}"></script>
    <script src="{% static "js/hood.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/footable.min.js" %}"></script>
    <script type="text/javascript">
        /*$(document).ready(function() {
          $('#datatable').dataTable();
        } );*/

        $(function(){
          $('.Footable').footable({
              "paging": {
                "enabled": true
              },
              "filtering": {
                "enabled": true
              },
              "sorting": {
                "enabled": true
              }
            });
        });
    </script>
    <script>
      $(document).ready(function() {

          // Date Picker
          $('.datepicker').datepicker();
          $('.datepicker-inline').datepicker();
          $('.datepicker-multiple').datepicker({
              numberOfMonths: 3,
              showButtonPanel: true
          });
          // Date Picker 2
          $('.datepicker2').datepicker();
          $('.datepicker-inline2').datepicker();
          $('.datepicker-multiple2').datepicker({
              numberOfMonths: 3,
              showButtonPanel: true
          });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#dialog1").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
      });
      $("#dialog2").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
      });
    });
    </script>
    <script type="text/javascript">
      $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var payment = button.data('payment')
        var payment_id = button.data('paymentid')
        var payment_feediscount = button.data('feediscount')

        var modal = $(this)
        modal.find('#fee_value').val(payment)
        modal.find('#payment_id').val(payment_id)
        modal.find('#payment_record_date').val('')
        modal.find('#fee_discount_label_value').text('($'+payment_feediscount+')')
      });
    </script>
    <script>
  window.intercomSettings = {
    app_id: "elo2bo40",
    name: "{{ request.user.user_profile.name }}", // Full name
    email: "{{ request.user.email }}", // Email address
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/elo2bo40';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    {% endblock %}