{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load extra_tags %}
{% block custom-css %}
    <link href="{% static "css/stepsForm.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/modernizr.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
{% endblock %}
{% block leftbar %}
{% endblock %}
{% block content %}
	<div class="content-page-buildings">
		<div class="content">
			<div class="container">
				<div class="panel">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Configuración del Módulo de Cartera</h3>
								</div>
								<div class="panel-body">
								<div>
									<div class="text-center" style="margin-bottom: 2em;">
										<h3>¡Excelente! Sólo nos falta un pequeño dato para comenzar</h3>	
									</div>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                      <div class="createWForm">
              					<form method="POST" lpformnum="1">
                          <input type="hidden" name="csrfmiddlewaretoken" value="csNgDED775N8q6OtAekkY46xG9a9AAWv">
                          <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group">
                              Dia de pago recurrente:
                              <input id="id_day_of_recurrent_payment" class="form-control formFlow" name="day_of_recurrent_payment" type="number">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group">
                              <div class=" checkbox-primary">
                                <label style="text-align:center">Aplicar descuento por pago oportuno  <span id="id_has_discount_early_payment"></span></label>
                                <div class="input-group switchBtn" style="margin-top: 1em;">
                                    <input id="id_has_discount_early_payment_0" class="switchBtn-input" name="has_discount_early_payment" type="radio" value="True" />
                                    <label for="id_has_discount_early_payment_0" class="switchBtn-label switchBtn-label-off">Si</label>
                                    <input id="id_has_discount_early_payment_1" class="switchBtn-input" name="has_discount_early_payment" type="radio" value="False" style="margin-left: 20px;" checked />
                                    <label for="id_has_discount_early_payment_1" class="switchBtn-label switchBtn-label-on">No</label>
                                    <span class="switchBtn-selection"></span>
                                </div>
                              </div>
                            </div>
                          </div>

                              <!--<ul id="id_has_discount_early_payment">
                              <li><label for="id_has_discount_early_payment_0"><input id="id_has_discount_early_payment_0" name="has_discount_early_payment" type="radio" value="True"> Si</label></li>
                          <li><label for="id_has_discount_early_payment_1"><input id="id_has_discount_early_payment_1" name="has_discount_early_payment" type="radio" value="False"> No</label></li></ul>-->
                          <div class="row" id="EarlyValue" style="display:none">
                            <div class="col-md-6 col-md-offset-3 form-group">
                              Valor descuento por pronto pago:
                              <input id="id_discount_early_payment_amount" class="form-control formFlow" maxlength="50" name="discount_early_payment_amount" type="text">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group">
                              Caja para pago de cartera:
                              <select id="id_cashflow_for_wallet_payments" class="form-control formFlow" name="cashflow_for_wallet_payments">
                                <option value="" selected="selected">---------</option>
                                <option value="3">Caja de Cuenta de Ahorros</option>
                                <option value="2">Caja de Cuenta Corriente</option>
                                <option value="1">Caja Menor</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group text-center">
                              <button type="submit" class="btn btn-primary" style="margin-top: 2em;">¡Hecho!</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                            <!--
                  					<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    					<span style="font-size: 16px;">¿Qué día del mes deben haberte pagado las cuotas de administración?</span>
                    					<div class="input-group" style="margin-top: 2em;">
                      						<span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-calendar"></i></span>
                      						<input id="id_building" name="building" type="hidden" value="{{building.id}}">
                      						<input id="id_day_of_recurrent_payment" name="day_of_recurrent_payment" type="number" min="1" max="31" class="form-control" style="font-size: 18px;"/>
                    					</div>
                    				</div>
                    				<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    					<span style="font-size: 16px; display: inline-block; margin-top: 2em;">¿Haces Descuento por pago oportuno?</span>
                    					<div class="input-group switchBtn" style="margin-top: 1em;">
                      						<input id="id_has_discount_early_payment_0" class="switchBtn-input" name="has_discount_early_payment" type="radio" value="True" />
                      						<label for="id_has_discount_early_payment_0" class="switchBtn-label switchBtn-label-off">Si</label>
                      						<input id="id_has_discount_early_payment_1" class="switchBtn-input" name="has_discount_early_payment" type="radio" value="False" style="margin-left: 20px;" checked />
                      						<label for="id_has_discount_early_payment_1" class="switchBtn-label switchBtn-label-on">No</label>
                      						<span class="switchBtn-selection"></span>
                    					</div>
                    					<div class="input-group" style="margin-top: 2em;display:none;">
                      						<span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                      						<input id="id_discount_early_payment_amount" name="discount_early_payment_amount" type="text" class="form-control" style="font-size: 18px;" placeholder="Valor del descuento" required="True"/>
                    					</div>
                    				</div>
                    				<div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                                        <span style="font-size: 16px; display: inline-block; margin-top: 2em;">¿A qué fuente quieres agregar los pagos de administracion?</span>
                                        <div class="input-group" style="margin-top: 2em;">

                      						<select id="id_cashflow_for_wallet_payments" name="cashflow_for_wallet_payments" class="form-control">
                                                    {% for value, key in form.fields.cashflow_for_wallet_payments.choices %}
                                                        <option value="{{value}}" {% if form.cashflow_for_wallet_payments.value == value %} selected{% endif %}>{{key}}</option>

                                                    {% endfor %}
                                            </select>
                    					</div>
                                    </div>
                            -->
                				</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
				</div><!-- end Panel -->
			</div><!-- container -->
		</div><!-- content -->
{% endblock %}
{% block custom-js %}
	<footer class="footer text-right">2015 © Regente.</footer></div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.input-group input:radio').click(function(){
				//console.log($(this).val());
				if($(this).val() == 'True')
				{
					$(this).closest('.input-group').next('.input-group').fadeIn();
				}
				else
				{
					$(this).closest('.input-group').next('.input-group').fadeOut();
				}

			});

      $('.switchBtn-input').click(function(){
          var discount = $('.switchBtn-input:checked').val();

          if(discount == 'True')
          {
            $('#EarlyValue').fadeIn(800);
          }
          else
          {
            $('#EarlyValue').fadeOut();
          }
      });
		});
	</script>
{% endblock %}