{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block custom-css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.css">
{% endblock %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect active">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
{% block content %}
<div id="dialog1" title="Pago Registrado y Agregado a Caja">
      <p>El Pago se ha registrado y fue satisfactoriamente agregado como un Ingreso en el módulo de caja</p>
</div>
<div id="dialog2" title="El Pago fue Registrado pero hubo un error">
  <p>El pago se ha registrado satisfactoriamente pero ocurrió un problema agregandolo como Ingreso en el módulo de caja.
    Contacta a Soporte para resolver este problema.</p>
</div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">REGISTROS DE PAGOS DEL MES DE {{current_time|date:"F"}} DEL AÑO {{current_time|date:"Y"}}
                                {{payment}}</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                         <div class="row">
                                            <div class="col-md-6 col-md-offset-3 form-group">
                                              Buscar por Apartamento: 
                                              <input type="text" id="search_text_value" name="search_text_value" placeholder="Ej: T1AP101" />
                                            </div>  
                                            <p id="extra"></p>
                                          </div>
                                          <div class="row payment_gen_info">
                                            <div class="col-md-4 col-md-offset-8 form-group">
                                              Siguiente Apartamento: <span id="next_apartment_next">{{payment.get_next_payment}}</span>
                                            </div>
                                              
                                          </div>
                                          <div class="row payment_content_box"> 
                                             <div class="col-md-4 col-md-offset-3 nextBoxEffect"></div>
                                             <div class="col-md-4 col-md-offset-3 apartment_payment_box" style="display: block;">
                                                <div class="row">
                                                  <div class="apartment_info">
                                                    <i class="fa fa-building-o"></i>
                                                    <p>Apartamento: <span id="apartment_name">{{payment.apartment.name}}</span></p>
                                                    <p>Propietario: 
                                                      <span id="apartment_owner"> 
                                                        {% if payment.apartment.get_owner %}
                                                          {{payment.apartment.get_owner}}
                                                        {% else %}
                                                          No hay propietario registrado
                                                        {% endif %}</span>
                                                    </p>
                                                  </div>
                                                  <!-- Id del pago -->
                                                  <input type="hidden" id="payment_id" value="{{payment.id}}" />
                                                  <input type="hidden" id="building_id" value="{{payment.apartment.building.id}}" />
                                                  <!-- Id del siguiente para pagar -->
                                                  <input type="hidden" id="next_payment_id" />
                                                  <div class="col-sm-12 todo-inputbar form-group">   
                                                    <p style="color: #565656;">Fecha en que se hizo el pago:</p>
                                                      <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-calendar"></i></span>
                                                        <input id="payment_record_date" maxlength="50" name="starting_amount" type="text" class="form-control formFlow datepicker" placeholder="mm/dd/yyyy" style="font-size: 18px;" required>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-12 todo-inputbar form-group">
                                                    <p style="color: #565656;">Valor del Pago</p>
                                                      <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                                                        <input id="fee_value" maxlength="50" name="starting_amount" type="text" class="form-control formFlow" placeholder="200.00" style="font-size: 18px;" value="{{payment.fee_value}}" required>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-12 todo-inputbar form-group">
                                                      <div class="pay-discount checkbox-primary">
                                                        <label style="text-align:center">Aplicar descuento por pago oportuno  <span id="fee_discount_label_value"></span></label>
                                                        <div class="input-group switchBtn" style="margin-top: 1em;">
                                                            <input id="fee_discount_0" class="switchBtn-input" name="fee_discount" type="radio" value="True" />
                                                            <label for="fee_discount_0" class="switchBtn-label switchBtn-label-off">Si</label>
                                                            <input id="fee_discount_1" class="switchBtn-input" name="fee_discount" type="radio" value="False" style="margin-left: 20px;" checked />
                                                            <label for="fee_discount_1" class="switchBtn-label switchBtn-label-on">No</label>
                                                            <span class="switchBtn-selection"></span>
                                                        </div>
                                                        <label id="discount_value" style="display:none" data-val="{{discount_early_payment}}"></label>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-12 todo-inputbar form-group">
                                                      <div class="btn-Group">
                                                        <button type="button" class="btn btn-default" style="margin-top: 10px;" onclick="InlinePaymentNoPay(this)"><i class="fa fa-ban"></i></button>
                                                        <p>Pago No Realizado</p>
                                                      </div>
                                                      <div class="btn-Group">
                                                        <button id="savePro" class="btn btn-primary" style="margin-top: 10px;" onclick="InlinePaymentPaid(this)"><i class="fa fa-check"></i></button>
                                                        <p>Pago Realizado</p>
                                                      </div>
                                                     
                                                  </div>
                                                </div>
                                              </div>

                                           
                                          </div>
                                         </div>
                                    </div>

                                    <!--<table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Apartamento</th>
                                            <th>Propietario</th>
                                            <th>Fecha del Siguiente Pago</th>
                                            <th>Valor del Siguiente Pago</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>-->
                                
                                <!--<div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Apartamento</th>
                                            <th>Propietario</th>
                                            <th>Fecha del Siguiente Pago</th>
                                            <th>Valor del Siguiente Pago</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                    {% for payment in payments %}
                    <tr class="gradeX">
                    <td>{{payment.apartment.name}}</td>
                    {% if payment.apartment.get_owner %}
                      <td>{{payment.apartment.get_owner}}</td>
                    {% else %}
                      <td>No hay propietario registrado</td>
                    {% endif %}
                    {% if payment %}
                      <td id="next_payment_date">{{payment.date_of_payment}}</td>
                    {% else %}
                      <td>No hay pago siguiente registrado</td>
                    {% endif %}
                    {% if payment %}
                      <td id="next_payment_fee_value">${{payment.fee_value}}</td>
                    {% else %}
                      <td>No hay valor registrado para el siguiente pago</td>
                    {% endif %}
                    <td class="actions">
                    {% if payment %}
                      <!--<a id="{{apto.get_next_payment.id}}" class="on-default" style="text-decoration: underline;" onclick="InlinePaymentPaid(this)"><span style="display: inline-block; position: relative; top: 0; width: 16px; height: 17px;"><i class="icon fa-check"></i></span>
                        Registrar Pago 
                      </a>
                      <a id="{{payment.id}}" class="on-default" data-toggle="modal" data-target="#myModal" data-payment="{{payment.fee_value}}" data-paymentid="{{payment.id}}" data-feediscount="{{discount_early_payment}}" style="text-decoration: underline;"><span style="display: inline-block; position: relative; top: 0; width: 16px; height: 17px;"><i class="icon fa-check"></i></span>
                        Registrar Pago 
                      </a>
                    {% endif %}

                    <a href="{% url "adminfee_payments" building.slug payment.apartment.pk %}" class="on-default" style="text-decoration: underline;">
                    <span style="display: inline-block; position: relative; top: 0; width: 16px; height: 17px;"><i class="icon fa-eye"></i></span>
                      Ver Registro de Pagos
                    </a> 
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                                    </table>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block custom-js %}
    <script>var resizefunc = [];</script>
    <script src="//code.jquery.com/jquery-1.8.2.js"></script>
    <script src="{% static "js/magic.js" %}"></script>
    <script src="{% static "js/hood.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript">$(document).ready(function() {
                $('#datatable').dataTable();
            } );</script>
    <script>
      $(document).ready(function() {

          // Date Picker
          $('.datepicker').datepicker();
          $('.datepicker-inline').datepicker();
          $('.datepicker-multiple').datepicker({
              numberOfMonths: 3,
              showButtonPanel: true
          });
          // Date Picker 2
          $('.datepicker2').datepicker();
          $('.datepicker-inline2').datepicker();
          $('.datepicker-multiple2').datepicker({
              numberOfMonths: 3,
              showButtonPanel: true
          });
      });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#dialog1").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
      });
      $("#dialog2").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
      });
    });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.switchBtn-input').click(function(){
          var discount = $('.switchBtn-input:checked').val();
          var discount_value = $('#discount_value').attr('data-val');
          var fee_value = $('#fee_value').val();

          if(discount == 'True'){
            console.log(discount_value);
            var total = parseInt(fee_value) - parseInt(discount_value);
            
            $('#discount_value').text("Total a Pagar: $"+total);
            $('#discount_value').css('display','block');
          }
            else{$('#discount_value').css('display','none');
          }
        });

        $("#search_text_value").autocomplete({
          source: '/api/ajax_search',
          minLenght: 3,
          select: function( event, ui ) {

            //$('#extra').text("id: "+ui.item.id);
            var apartment_id = ui.item.id;
            $('.apartment_payment_box').addClass('not');
            SearchPayment(apartment_id);

            $('.apartment_payment_box').removeClass('yes not');
            
          }
        });

        $('#search_text_value').click(function(){
          if($(this).val() != ''){$('.ui-widget-content').fadeIn();}
        });

      });
    </script>
    <script type="text/javascript">
      /*$('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var payment = button.data('payment')
        var payment_id = button.data('paymentid')
        var payment_feediscount = button.data('feediscount')

        var modal = $(this)
        modal.find('#fee_value').val(payment)
        modal.find('#payment_id').val(payment_id)
        modal.find('#payment_record_date').val('')
        modal.find('#fee_discount_label_value').text('($'+payment_feediscount+')')
      });*/
    </script>
    <script>
  window.intercomSettings = {
    app_id: "elo2bo40",
    name: "{{ request.user.user_profile.name }}", // Full name
    email: "{{ request.user.email }}", // Email address
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/elo2bo40';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    {% endblock %}