{% extends "base.html" %}
{% load static from staticfiles %}
{% block custom-css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/flick/jquery-ui.css">
{% endblock %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect active">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
    {% block content %}
    <div id="dialog1" title="Pago Registrado y Agregado a Caja">
      <p>El Pago se ha registrado y fue satisfactoriamente agregado como un Ingreso en el módulo de caja</p>
    </div>
    <div id="dialog2" title="Pago Registrado pero hubo un error">
      <p>El pago se ha registrado satisfactoriamente pero ocurrió un problema agregandolo como Ingreso en el módulo de caja.
      Contacta a Soporte para resolver este problema.</p>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Registrar pago de cuota de administración</h4>
          </div>
          <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
              <div class="row">
                <div class="col-sm-12 todo-inputbar form-group">
                <input type="hidden" id="payment_id">
                <p style="color: #565656;">Fecha en que se hizo el pago:</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;<i class="icon form fa-calendar"></i></span>
                    <input id="payment_record_date" maxlength="50" name="starting_amount" type="text" class="form-control formFlow datepicker" placeholder="mm/dd/yyyy" style="font-size: 18px;" required>
                  </div>
                </div>
                <div class="col-sm-12 todo-inputbar form-group">
                <p style="color: #565656;">Valor del Pago</p>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                    <input id="fee_value" maxlength="50" name="starting_amount" type="text" class="form-control formFlow" placeholder="200.00" style="font-size: 18px;" required>
                  </div>
                </div>
                <div class="col-sm-12 todo-inputbar form-group">
                <div class="input-group">
                  <div class="checkbox checkbox-primary">
                    <input type="checkbox" class="form-control" id="fee_discount" name="fee_discount" value="True" />
                    <label for="checkbox2">Aplicar descuento por pago oportuno  <span id="fee_discount_label_value"></span></label>
                  </div>
                </div>
                  <!--
                    <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;<i class="icon form fa-dollar"></i></span>
                    <input id="fee_value" maxlength="50" name="starting_amount" type="text" class="form-control formFlow" placeholder="200.00" style="font-size: 18px;" required>
                  </div>-->
                </div>
              </div>  
              {{form.errors}}      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" style="margin-top: 10px;" data-dismiss="modal">Cancelar</button>
            <button id="savePro" class="btn btn-primary" style="margin-top: 10px;" type="submit">Aceptar</button> 
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="content-page">
    	<div class="content">
    		<div class="container">
    		<div class="row">
    		<div class="col-md-12">
    			<div class="panel panel-default">
    				<div class="panel-body">
    					<hr>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="pull-left m-t-30">
    									<address><strong>Apartamento: {{apartment.name}}, Edificio {{apartment.building}}</strong><br></address>
    								</div>
                                    <!--
    								<div class="pull-right m-t-30">
    									<p>
    										<strong>Order Date:</strong> Jun 15, 2015
    									</p>
    									<p class="m-t-10">
    										<strong>Order Status:</strong>
    										<span class="label label-pink">Pending</span>
    									</p>
    									<p class="m-t-10">
    										<strong>Order ID:</strong> #123456
    									</p>
    								</div>
                                    -->
    							</div>
    						</div>
    						<div class="m-h-50"></div>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="table-responsive">
    									<table class="table m-t-30">
    									<thead>
    										<tr>
    											<th>#</th>
    											<th>Cuota</th>
    											<th>Fecha a pagar</th>
                          <th>Fecha de pago</th>
                                                <th>Estado de Pago</th>
    										</tr>
    									</thead>
    									<tbody>
    									{% for payment in payments %}
    										<tr>
    											<td>{{forloop.counter}}</td>
    											<td>${{payment.fee_value}}</td>
    											<td>{{payment.date_of_payment|date:"M. j, Y"}}</td>
                          <td id="payment_record_date">{{payment.payment_record_date}}</td>
                          {% if payment.paid %}
                              <td class="aIcon" ><i class="icon fa-check"></i></td>
                          {% else %}
                              <td >
                                
                                <!--<a id="{{payment.id}}" style="text-decoration: underline;" onclick="PaymentPaid(this)"> <b class="aIcon" ><i class="icon fa-times"></i></b> Registrar Pago</a>-->
                                <a id="{{apto.get_next_payment.id}}" class="on-default" data-toggle="modal" data-target="#myModal" data-payment="{{payment.fee_value}}" data-paymentid="{{payment.id}}" data-feediscount="0000" style="text-decoration: underline;"><span style="display: inline-block; position: relative; top: 0; width: 16px; height: 17px;"><i class="icon fa-check"></i></span>
                                  Registrar Pago
                                </a>
                              </td>
                          {% endif %}
    										</tr>
    									{% endfor %}
    									</tbody>
    								</table>
    							</div>
    						</div>
    					</div>
    					<hr>
 <!--   					<div class="hidden-print">
    						<div class="pull-right">
    							<a href="#" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-print"></i></a> 
    							<a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
    						</div>
    					</div>-->
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
   </div>
   {% endblock %}
   {% block custom-js %}
   <script>var resizefunc = [];</script>
<script src="//code.jquery.com/jquery-1.8.2.js"></script>
<script src="{% static "js/magic.js" %}"></script>
<script src="{% static "js/hood.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script>
  $(document).ready(function() {

      // Date Picker
      $('.datepicker').datepicker();
      $('.datepicker-inline').datepicker();
      $('.datepicker-multiple').datepicker({
          numberOfMonths: 3,
          showButtonPanel: true
      });
      // Date Picker 2
      $('.datepicker2').datepicker();
      $('.datepicker-inline2').datepicker();
      $('.datepicker-multiple2').datepicker({
          numberOfMonths: 3,
          showButtonPanel: true
      });
  });
</script>
<script>
$(document).ready(function() {
    $("#dialog1").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
    });
    $("#dialog2").dialog({
        modal: true,
        bgiframe: true,
        width: 500,
        height: 200,
        autoOpen: false
    });
});
</script>
<script type="text/javascript">
  $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var payment = button.data('payment')
    var payment_id = button.data('paymentid')
    var payment_feediscount = button.data('feediscount')

    var modal = $(this)
    modal.find('#fee_value').val(payment)
    modal.find('#payment_id').val(payment_id)
    modal.find('#payment_record_date').val('')
    modal.find('#fee_discount_label_value').text('($'+payment_feediscount+')')
  });
</script>
{% endblock %}