{% extends "base.html" %}
{% load static from staticfiles %}
{% block leftbar %}
	<div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect active">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
{% endblock %}
{% block content %}
<div class="content-page">
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Asambleas/Reuniones</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-3">
                              <div class="mini-stat clearfix bx-shadow bg-white">
                                <span class="mini-stat-icon bg-success">
                                  <i class="ion-android-contacts"></i>
                                </span>
                              <div class="mini-stat-info text-right text-dark">
                                <span class="counter text-dark">{{admin_council.members.count}}</span> Miembros
                              </div>
                              <div class="tiles-progress">
                                <div class="m-t-20">
                                  <h5 class="text-uppercase">Concejo de administracion.</h5>
                                </div>
                              </div></div></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for meeting in meetings %}
                                        <tr>
                                            <td>{{meeting.name}}</td>
                                            <td>{{meeting.date}}</td>
                                            <td class="actions">
                                                <a href="{% url "meeting_detail" building.slug meeting.pk %}" class="on-default">
                                                <i class="fa fa-eye"></i>
                                                </a> 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}