{% extends "base.html" %}
{% load static from staticfiles %}
{% block leftbar %}
	<div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect active">
                                <i class="md md-invert-colors-on"></i>
                                <span>Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
{% endblock %}
{% block content %}
<div class="content-page">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="pull-left page-title">Widgets</h4>
					<ol class="breadcrumb pull-right">
						<li><a href="#" data-toggle="modal" data-target="#myModal" >Moltran</a></li>
						<li><a href="#">Components</a></li>
						<li class="active">Widgets</li>
					</ol>
				</div>
			</div>
		<div class="im-centered">
			<div class="row">
				<div class="col-lg-10">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Todo</h3>
						</div>
						<div class="panel-body todoapp">
						<ul class="item-list">

						{% for item in items %}
							<li {% if item.done %} class="done" {% endif %}>
                <a class="aIcon" id="check" href="" onclick="ItemDone({{item.id}})">
                  <i class="icon {% if item.done %} check-square {% else %} un-check {% endif %}"></i>
                </a>
                <a class="aIcon" id="delete" onclick="ItemDelete({{item.id}})">
                  <i class="icon  fa-trash-o"></i>
                </a>
								<p>{{item.name}}: {{item.description}} - {{item.done}}</p>
								
								<input type="hidden" id="itemid" value="{{item.id}}" name="{{item.id}}">
								
							</li>
						{% endfor %}
						</ul>
						</div>
					</div>
				</div>
				<form name="todo-form" id="todo-form" role="form" class="m-t-20">
					<div class="row">
						<div class="col-sm-3 todo-inputbar form-group">
							<input class="form-control" id="name" type="text" placeholder="Titulo">
						</div>
            <div class="col-sm-3 todo-send form-group">
              <select class="form-control" id="priority">
                      <option value="1">Baja</option>
                      <option value="2">Normal</option>
                      <option value="3">Alta</option>
                  </select>
            </div>
						<div class="col-sm-12 todo-inputbar form-group">
							<textarea class="form-control" id="description" type="text" placeholder="Descripción" rows="5"></textarea>
						</div>
						<input type="hidden" id="meeting" value="{{meeting.pk}}">
						<div style="padding-left: 11px;" class="col-sm-3 todo-send">
							<a class="btn btn-primary" href="#" onclick="AddMessage()">Agregar Item</a>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>
{% endblock %}
{% block custom-js %}
<script src="//code.jquery.com/jquery-1.8.2.js"></script>
<script src="{% static "js/magic.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script>
$( ".item-list li #check" ).click(function() {
  $( this ).find( "i" ).removeClass( "un-check" ).addClass( "check-square" );
  $(this).parent( "li" ).addClass( "done" );
});
$( ".item-list li #delete" ).click(function() {
  $( this ).find( "i" ).removeClass( "fa-trash-o" ).addClass( "fa-trash" );
  $(this).parent( "li" ).hide('50000');
});
</script>
{% endblock %}

<!--	<div class="item-list">
	{% for item in items %}
		<li>
			<h1>{{item.name}}</h1>
			<p>{{item.description}}</p>
			<p>{{item.done}}</p>
		</li>
	{% endfor %}
	</div>
</ul>
<form>
		<input id="name" type="text" placeholder="titulo">
		<textarea id="description" type="text" placeholder="mensaje" rows="5"></textarea>
		<select id="priority">
            <option value="1">Baja</option>
            <option value="2">Normal</option>
            <option value="3">Alta</option>
        </select>
        <input type="hidden" id="meeting" value="{{meeting.pk}}">
		<a href="#" onclick="AddMessage()">Enviar mensaje</a>
	</form>-->