{% extends "base.html" %}
{% load static from staticfiles %}

{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect active">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
{% block content %}
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">Datatable</h4>
                        <a href="{% url "inhabitant_import" building.slug %}" class="pull-right btn btn-primary waves-effect waves-light m-b-5">Importar residentes</a>
                        <a href="{% url "owner_import" building.slug %}" class="pull-right btn btn-primary waves-effect waves-light m-b-5" style="margin-right: 10px;">Importar propietarios</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datatable</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                    <table class="table Footable">
                                      <thead>
                                        <tr>
                                          <th>Nombre</th>
                                          <th data-breakpoints="xs" data-filterable="false">Area</th>
                                          <th>Propietario</th>
                                          <th data-breakpoints="xs" data-type="html" data-filterable="false">Acciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% for apto in apartments %}
                                          <tr>
                                              <td>{{apto.name}}</td>
                                              <td>{{apto.area}}m2</td>
                                              {% if apto.get_owner %}
                                              <td>{{apto.get_owner}}</td>
                                              {% else %}
                                              <td>No hay propietario registrado</td>
                                              {% endif %}
                                              <td class="actions">
                                                  <a href="{% url "property_detail" apto.building.slug apto.pk %}" class="on-default"><i class="fa fa-eye"></i></a> 
                                              </td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                    </table>
  
                
                                    
                                    <!--<table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Area</th>
                                            <th>Propietario</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for apto in apartments %}
                                        <tr>
                                            <td>{{apto.name}}</td>
                                            <td>{{apto.area}}m2</td>
                                            {% if apto.get_owner %}
                                            <td>{{apto.get_owner}}</td>
                                            {% else %}
                                            <td>No hay propietario registrado</td>
                                            {% endif %}
                                            <td class="actions">
                                                <a href="{% url "property_detail" apto.building.slug apto.pk %}" class="on-default">
                                                <i class="fa fa-eye"></i>
                                                </a> 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block custom-js %}
    <script>var resizefunc = [];</script>
    <script src="{% static "js/hood.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "js/footable.min.js" %}"></script>
    <script type="text/javascript">
        /*$(document).ready(function() {
            //$('#datatable').dataTable();
            $('.Footable').footable({
              "paging": {
                "enabled": true
              },
              "filtering": {
                "enabled": true
              },
              "sorting": {
                "enabled": true
              }
            });

        } );*/
        $(function(){
          $('.Footable').footable({
              "paging": {
                "enabled": true
              },
              "filtering": {
                "enabled": true
              },
              "sorting": {
                "enabled": true
              }
            });
        });
    </script>

    <script>
  window.intercomSettings = {
    app_id: "elo2bo40",
    name: "{{ request.user.user_profile.name }}", // Full name
    email: "{{ request.user.email }}", // Email address
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/elo2bo40';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    {% endblock %}