{% extends "base.html" %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect active">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
            {% block content %}
    				<div class="content-page">
    					<div class="content">
    						<div class="wraper container-fluid">
    				<div class="row">
    					<div class="col-lg-12">
    						<div class="tab-content profile-tab-content">
    							<div class="tab-pane active" id="home-2">
    								<div class="row">
    									<div class="col-md-4">
    										<div class="panel panel-default panel-fill">
    											<div class="panel-heading">
    											<div class="pull-right btn-group-sm">
                                                {% if perms.properties.change_apartment %}
                                                <a href="{% url "property_edit" apartment.building.slug apartment.pk %}" class="btn btn-success waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Editar">
                                                      <i class="fa fa-pencil"></i>
                                                </a>
                                                {% else %}
                                                {% endif %} 
                                        </div>
    												<h3 class="panel-title">Información de la propiedad</h3>
    											</div>
    											<div class="panel-body">
    											<div class="about-info-p">
    												<strong>Número</strong>
    												<br>
    												<p class="text-muted">{{apartment.name}}</p>
    											</div>
    											<div class="about-info-p">
    												<strong>Matricula Inmobiliaria</strong>
    												<br>
    												<p class="text-muted">{{apartment.registration_tag}}</p>
    											</div>
    											<div class="about-info-p m-b-0">
    												<strong>Area</strong>
    												<br>
    												<p class="text-muted">{{apartment.area}}m2</p>
    											</div>
                                                <div class="about-info-p m-b-0">
                                                    <strong>Parqueadero</strong>
                                                    <br>
                                                    <p class="text-muted">{{apartment.parking_number}}</p>
                                                </div>
    										</div>
    									</div>
    <div class="panel panel-default panel-fill">
    	<div class="panel-heading">
    		<div class="pull-right btn-group-sm">
            {% if perms.properties.change_owner %}
                <a href="{% url "property_owner_edit" apartment.building.slug apartment.pk %}" class="btn btn-success waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Editar">
                    <i class="fa fa-pencil"></i>
                </a> 
            {% else %}
            {% endif %}
            </div>
    	   <h3 class="panel-title">Información del propietario</h3>
        </div>
        <div class="panel-body">
    		<div class="about-info-p">
    		<strong>Nombre</strong>
        	<br>
    	    <p class="text-muted">{{owner.name}} {{owner.last_name}}</p>
    	</div>
    	    	<div class="about-info-p">
    		<strong>Email</strong>
    		<br>
    		<p class="text-muted">{{owner.email}}</p>
    	</div>
    	    	<div class="about-info-p">
    		<strong>Teléfono</strong>
    		<br>
    	   <p class="text-muted">{{owner.phone_number}}</p>
    	</div>
    	    	<div class="about-info-p m-b-0">
    		<strong>Dirección</strong>
    		<br>
    		<p class="text-muted">{{owner.address}}</p>
    	</div>
    </div>
    </div>
    </div>
    <div class="col-md-8">
    	<div class="tab-pane" id="messages-2">
            <div class="panel panel-default panel-fill">
                <div class="panel-heading">
                <div class="pull-right btn-group-sm">
                {% if perms.properties.add_visit %}
                    <a href="{% url "visit_create" apartment.building.slug apartment.pk %}" class="btn btn-success waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Registrar Visita">
                        <i class="fa fa-plus"></i>
                    </a>
                {% else %}
                {% endif %} 
                </div>
                    <h3 class="panel-title">Visitas</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Identidad</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for visit in visits %}
                            <tr>
                                <td>{{visit.visitor_name}}</td>
                                <td>{{visit.visitor_lastname}}</td>
                                <td>{{visit.visitor_identity}}</td>
                                <td>{{visit.visit_timestamp}}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    									<div class="panel panel-default">
    									<div class="panel-heading">
    										<h3 class="panel-title">Habitantes en la propiedad</h3>
    									</div>
    									<div class="panel-body">
    									<div class="row">
    									<div class="col-md-12 col-sm-12 col-xs-12">
    									<table class="table table-striped">
    									<thead>
    									<tr>
    									<th>Nombre</th>
    									<th>Email</th>
    									<th>Teléfono</th>
    									<th>Editar</th>
    									</tr>
    									</thead>
    									<tbody>
    									{% for inhabitant in inhabitants %}
    									<tr>
    									<td>{{inhabitant.name}} {{inhabitant.last_name}}</td>
    									<td>{{inhabitant.email}}</td>
    									<td>{{inhabitant.phone_number}}</td>
    									<td>
                                        {% if perms.properties.change_inhabitant %}
    										<div class="pull-right btn-group-sm">
                                                <a href="{% url "property_inhabitant_edit" apartment.building.slug apartment.pk inhabitant.pk %}" class="btn btn-success waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Editar">
                                                      <i class="fa fa-pencil"></i>
                                                </a> 
                                        	</div>
                                        {% else %}
                                        {% endif %}
                                        </td>
    									</tr>
    									{% endfor %}
    									</tbody>
    									</table>
    									</div>
    									</div>
    									</div>
    									</div>
    									</div>
    									</div>
                                        <!--
    									<div class="tab-pane" id="settings-2">
    									<div class="panel panel-default panel-fill">
    									<div class="panel-heading">
    									<h3 class="panel-title">Mensaje</h3>
    									</div>
    									<div class="panel-body">
    									<form role="form">
    									<div class="form-group"><label for="AboutMe">Escribe tu Mensaje</label><textarea style="height: 125px" id="AboutMe" class="form-control"></textarea></div><button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}