{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
	<meta name="author" content="Coderthemes">
	<link rel="shortcut icon" href="assets/images/favicon_1.ico">
	<title>Moltran - Responsive Admin Dashboard Template</title>
	<link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css"><!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body class="fixed-left">
    	<div id="wrapper">
    		<div class="topbar"><div class="topbar-left"><div class="text-center"><a href="index.html" class="logo"><i class="md md-terrain"></i> <span>Moltran</span></a></div></div><div class="navbar navbar-default" role="navigation"><div class="container"><div class=""><div class="pull-left"><button class="button-menu-mobile open-left"><i class="fa fa-bars"></i></button> <span class="clearfix"></span></div><form class="navbar-form pull-left" role="search"><div class="form-group"><input type="text" class="form-control search-bar" placeholder="Type here for search..."></div><button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button></form><ul class="nav navbar-nav navbar-right pull-right"><li class="dropdown hidden-xs"><a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><i class="md md-notifications"></i> <span class="badge badge-xs badge-danger">3</span></a><ul class="dropdown-menu dropdown-menu-lg"><li class="text-center notifi-title">Notification</li><li class="list-group"><a href="javascript:void(0);" class="list-group-item"><div class="media"><div class="pull-left"><em class="fa fa-user-plus fa-2x text-info"></em></div><div class="media-body clearfix"><div class="media-heading">New user registered</div><p class="m-0"><small>You have 10 unread messages</small></p></div></div></a> <a href="javascript:void(0);" class="list-group-item"><div class="media"><div class="pull-left"><em class="fa fa-diamond fa-2x text-primary"></em></div><div class="media-body clearfix"><div class="media-heading">New settings</div><p class="m-0"><small>There are new settings available</small></p></div></div></a> <a href="javascript:void(0);" class="list-group-item"><div class="media"><div class="pull-left"><em class="fa fa-bell-o fa-2x text-danger"></em></div><div class="media-body clearfix"><div class="media-heading">Updates</div><p class="m-0"><small>There are <span class="text-primary">2</span> new updates available</small></p></div></div></a> <a href="javascript:void(0);" class="list-group-item"><small>See all notifications</small></a></li></ul></li><li class="hidden-xs"><a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a></li><li class="hidden-xs"><a href="#" class="right-bar-toggle waves-effect waves-light"><i class="md md-chat"></i></a></li><li class="dropdown"><a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"></a><ul class="dropdown-menu"><li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile</a></li><li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li><li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li><li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li></ul></li></ul></div></div></div></div>
    		<div class="left side-menu">
    		<div class="sidebar-inner slimscrollleft"><div class="user-details"><div class="pull-left"><img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle"></div><div class="user-info"><div class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">John Doe <span class="caret"></span></a><ul class="dropdown-menu"><li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li><li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li><li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li><li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li></ul></div><p class="text-muted m-0">Administrator</p></div></div><div id="sidebar-menu"><ul><li><a href="index.html" class="waves-effect"><i class="md md-home"></i><span>Dashboard</span></a></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-mail"></i><span>Mail</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="inbox.html">Inbox</a></li><li><a href="email-compose.html">Compose Mail</a></li><li><a href="email-read.html">View Mail</a></li></ul></li><li><a href="calendar.html" class="waves-effect"><i class="md md-event"></i><span>Calendar</span></a></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-palette"></i> <span>Elements</span> <span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="typography.html">Typography</a></li><li><a href="buttons.html">Buttons</a></li><li><a href="panels.html">Panels</a></li><li><a href="checkbox-radio.html">Checkboxs-Radios</a></li><li><a href="tabs-accordions.html">Tabs &amp; Accordions</a></li><li><a href="modals.html">Modals</a></li><li><a href="bootstrap-ui.html">BS Elements</a></li><li><a href="progressbars.html">Progress Bars</a></li><li><a href="notification.html">Notification</a></li><li><a href="sweet-alert.html">Sweet-Alert</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-invert-colors-on"></i><span>Components</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="grid.html">Grid</a></li><li><a href="portlets.html">Portlets</a></li><li><a href="widgets.html">Widgets</a></li><li><a href="nestable-list.html">Nesteble</a></li><li><a href="ui-sliders.html">Sliders</a></li><li><a href="gallery.html">Gallery</a></li><li><a href="pricing.html">Pricing Table</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-redeem"></i> <span>Icons</span> <span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="material-icon.html">Material Design</a></li><li><a href="ion-icons.html">Ion Icons</a></li><li><a href="font-awesome.html">Font awesome</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect active"><i class="md md-now-widgets"></i><span>Forms</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li class="active"><a href="form-elements.html">General Elements</a></li><li><a href="form-validation.html">Form Validation</a></li><li><a href="form-advanced.html">Advanced Form</a></li><li><a href="form-wizard.html">Form Wizard</a></li><li><a href="form-editor.html">WYSIWYG Editor</a></li><li><a href="code-editor.html">Code Editors</a></li><li><a href="form-uploads.html">Multiple File Upload</a></li><li><a href="form-xeditable.html">X-editable</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-view-list"></i><span>Data Tables</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="tables.html">Basic Tables</a></li><li><a href="table-datatable.html">Data Table</a></li><li><a href="tables-editable.html">Editable Table</a></li><li><a href="responsive-table.html">Responsive Table</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-poll"></i><span>Charts</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="morris-chart.html">Morris Chart</a></li><li><a href="chartjs.html">Chartjs</a></li><li><a href="flot-chart.html">Flot Chart</a></li><li><a href="peity-chart.html">Peity Charts</a></li><li><a href="charts-sparkline.html">Sparkline Charts</a></li><li><a href="chart-radial.html">Radial charts</a></li><li><a href="other-chart.html">Other Chart</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-place"></i><span>Maps</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="gmap.html">Google Map</a></li><li><a href="vector-map.html">Vector Map</a></li></ul></li><li class="has_sub"><a href="#" class="waves-effect"><i class="md md-pages"></i><span>Pages</span><span class="pull-right"><i class="md md-add"></i></span></a><ul class="list-unstyled"><li><a href="profile.html">Profile</a></li><li><a href="timeline.html">Timeline</a></li><li><a href="invoice.html">Invoice</a></li><li><a href="email-template.html">Email template</a></li><li><a href="contact.html">Contact-list</a></li><li><a href="login.html">Login</a></li><li><a href="register.html">Register</a></li><li><a href="recoverpw.html">Recover Password</a></li><li><a href="lock-screen.html">Lock Screen</a></li><li><a href="blank.html">Blank Page</a></li><li><a href="maintenance.html">Maintenance</a></li><li><a href="coming-soon.html">Coming-soon</a></li><li><a href="404.html">404 Error</a></li><li><a href="404_alt.html">404 alt</a></li><li><a href="500.html">500 Error</a></li></ul></li><li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="md md-share"></i><span>Multi Level</span><span class="pull-right"><i class="md md-add"></i></span></a><ul><li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span> <span class="pull-right"><i class="md md-add"></i></span></a><ul style=""><li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li><li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li><li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li></ul></li><li><a href="javascript:void(0);"><span>Menu Level 1.2</span></a></li></ul></li></ul><div class="clearfix"></div></div><div class="clearfix"></div></div></div>
    		<div class="content-page">
    			<div class="content">
    				<div class="container">
    					<div class="row">
    						<div class="col-sm-12">
    							<h4 class="pull-left page-title">General elements</h4>
    							<ol class="breadcrumb pull-right">
    								<li>
    									<a href="#">Moltran</a>
    								</li>
    								<li>
    									<a href="#">Forms</a>
    								</li>
    								<li class="active">General elements</li>
    							</ol>
    						</div>
    					</div>
    					
    					<div class="row">
    						<div class="col-sm-12">
    							<div class="panel panel-default">
    								<div class="panel-heading">
    									<h3 class="panel-title">Editar información del habitant</h3>
    								</div>
    								<div class="panel-body">
    									<form class="form-horizontal" role="form" method="POST" action="">
    									{% csrf_token %}
    										<div class="form-group">
    											<label class="col-md-2 control-label">Nombre</label>
    											<div class="col-md-6">
    												<input id="id_name" name="name" type="text" class="form-control" value="{{form.name.value}}">
    											</div>
    										</div>
    										<div class="form-group">
    											<label class="col-md-2 control-label">Apellido</label>
    											<div class="col-md-6">
    												<input id="id_last_name" name="last_name" type="text" class="form-control" value="{{form.last_name.value}}">
    											</div>
    										</div>
    										<div class="form-group">
    											<label class="col-md-2 control-label">Email</label>
    											<div class="col-md-6">
    												<input id="id_email" name="email" type="text" class="form-control" value="{{form.email.value}}">
    											</div>
    										</div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Teléfono</label>
                                                <div class="col-md-6">
                                                    <input id="id_phone_number" name="phone_number" type="text" class="form-control" value="{{form.phone_number.value}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Dirección</label>
                                                <div class="col-md-6">
                                                    <input id="id_address" name="address" type="text" class="form-control" value="{{form.address.value}}">
                                                </div>
                                            </div>
    										<div class="form-group m-b-0">
    											<div class="col-sm-offset-3 col-sm-9">
    												<button type="submit" class="btn btn-info waves-effect waves-light">Guardar</button>
    											</div>
    										</div>
    									</form>
    								</div>
    							</div>
    						</div>
    					</div>
    					<footer class="footer text-right">2015 © Moltran.</footer></div><div class="side-bar right-bar nicescroll"><h4 class="text-center">Chat</h4><div class="contact-list nicescroll"><ul class="list-group contacts-list"><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-1.jpg" alt=""></div><span class="name">Chadengle</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-2.jpg" alt=""></div><span class="name">Tomaslau</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-3.jpg" alt=""></div><span class="name">Stillnotdavid</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-4.jpg" alt=""></div><span class="name">Kurafire</span> <i class="fa fa-circle online"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-5.jpg" alt=""></div><span class="name">Shahedk</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-6.jpg" alt=""></div><span class="name">Adhamdannaway</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-7.jpg" alt=""></div><span class="name">Ok</span> <i class="fa fa-circle away"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-8.jpg" alt=""></div><span class="name">Arashasghari</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-9.jpg" alt=""></div><span class="name">Joshaustin</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li><li class="list-group-item"><a href="#"><div class="avatar"><img src="assets/images/users/avatar-10.jpg" alt=""></div><span class="name">Sortino</span> <i class="fa fa-circle offline"></i></a> <span class="clearfix"></span></li></ul></div></div></div>
    			<script>var resizefunc = [];</script>
    			<script src="{% static "js/hood.js" %}"></script>
   	</body>
</html>