{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load extra_tags %}
{% block custom-css %}
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/modernizr.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
{% endblock %}
{% block leftbar %}
{% endblock %}
{% block content %}
  <div class="content-page-buildings">
    <div class="content">
      <div class="container">
        <div class="panel">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Importa la información de tu propiedad</h3>
                </div>
                <div class="panel-body">
                                <div class="row">
                                    <div class="text-center col-md-12 col-sm-12 col-xs-12">
                                    {% if confirm_form %}
                                      <h2>¡Excelente! Si estás de acuerdo con los resultados confirma la carga del archivo</h2>
                                    {% else %}
                                      <h2>{{building.name}} se ve un poco vacío. ¿Qué tal si hacemos que se vea sexy?</h2>
                                    </div>
                                    {% endif %}
                                    {% if confirm_form %}
                                      <form action="{% url "process_import" building.slug %}" method="POST">
                                      {% csrf_token %}
                                      {{ confirm_form.as_p }}
                                      <div class="submit-row">
                                        <button type="submit" class="btn btn-primary">Confirmar Carga</button>
                                      </div>
                                    </form>
                                    {% else %}
                                      <form action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" enctype="multipart/form-data" class="text-center">
                                      {% csrf_token %}
                                      <div class="text-center">
                                        <p style="font-family: 'Roboto',sans-serif; display: inline-block; width: 70%;">
                                          Importa la información de propiedades en {{building.name}} en un archivo CSV generado por excel, nosotros nos encargaremos automágicamente de registrar todo. Si no sabes como crear el archivo de la forma correcta puedes descargar este de ejemplo: <a href="/media/examples/EjemploPropiedades.csv" style="text-decoration: underline;">EjemploPropiedades.csv</a>
                                        </p>
                                      </div>
                                        <div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto; margin-top: 2em;">
                                          <div class="input-group">
                                            <input class="form-control" id="id_import_file" name="import_file" type="file" />
                                            <input class="form-control" id="id_input_format" name="input_format" type="hidden" value="0" />
                                          </div>
                                          <div class="submit-row" style="margin-top: 2em;">
                                            <button type="submit" class="btn btn-primary">Cargar Archivo</button>
                                          </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                    {% if result %}
                                      {% if result.has_errors %}
                                          <h2>{% trans "Errors" %}</h2>
                                          <ul>
                                              {% for error in result.base_errors  %}
                                                  <li>{{ error.error }}</li>
                                              {% endfor %}
                                              {% for line, errors in result.row_errors %}
                                                  {% for error in errors %}
                                                      <li>
                                                        {% trans "Line number" %}: {{ line }} - {{ error.error }}
                                                        <div class="traceback">{{ error.traceback|linebreaks }}</div>
                                                      </li>
                                                  {% endfor %}
                                              {% endfor %}
                                          </ul>
                                      {% else %}
                                          <table id="datatable" class="table table-striped table-bordered">
                                          <thead>
                                            <tr>
                                              <th></th>
                                              {% for field in fields %}
                                                <th>{{ field }}</th>
                                              {% endfor %}
                                            </tr>
                                          </thead>
                                          {% for row in result.rows %}
                                              <tr>
                                                  <td>
                                                  {% if row.import_type == 'new' %}
                                                      {% trans "New" %}
                                                  {% elif row.import_type == 'skip' %}
                                                      {% trans "Skipped" %}
                                                  {% elif row.import_type == 'delete' %}
                                                      {% trans "Delete" %}
                                                  {% elif row.import_type == 'update' %}
                                                      {% trans "Update" %}
                                                  {% endif %}
                                                  </td>
                                                {% for field in row.diff %}
                                                <td>
                                                    {{ field }}
                                                </td>
                                                {% endfor %}
                                              </tr>
                                          {% endfor %}
                                          </table>
                                      {% endif %}
                                    {% endif %}
                                </div>
                            </div>
              </div>
            </div>
          </div>
          <!-- end: page -->
        </div><!-- end Panel -->
      </div><!-- container -->
    </div><!-- content -->
{% endblock %}