{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect active">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
{% endblock %}
{% block content %}
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="text-center col-md-12 col-sm-12 col-xs-12">
                                    {% if confirm_form %}
                                      <h2>¡Excelente! Si estás de acuerdo con los resultados confirma la carga del archivo</h2>
                                    {% else %}
                                      <h2>Importar Propietarios</h2>
                                    </div>
                                    {% endif %}
                                    {% if confirm_form %}
                                      <form action="{% url "owner_process_import" building.slug %}" method="POST">
                                      {% csrf_token %}
                                      {{ confirm_form.as_p }}
                                      <div class="submit-row">
                                        <input type="submit" class="btn" name="confirm" value="Confirmar subida">
                                      </div>
                                    </form>
                                    {% else %}
                                      <form action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" enctype="multipart/form-data" class="text-center">
                                      {% csrf_token %}
                                      <div class="text-center">
                                        <p style="font-family: 'Roboto',sans-serif; display: inline-block; width: 70%;">
                                          Nuestro trabajo es hacer tu vida más fácil. Ya hemos generado un archivo Excel con los apartamentos en tu copropiedad para que tengas un ejemplo de como crear el archivo con la información de los <strong>propietarios</strong>. Cuando termines de crear el archivo, exportalo como CSV y subelo. Nosotros nos encargaremos del resto automágicamente.
                                        </p>
                                      </div>
                                      <div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto; margin-top: 2em;">
                                        <a href="{% url "owner_export" building.slug %}" target="_blank" class="btn btn-success">Descargar Archivo Autogenerado</a>
                                      </div>
                                      <div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto; margin-top: 2em;">
                                          <div class="input-group">
                                            <input class="form-control" id="id_import_file" name="import_file" type="file" />
                                            <input class="form-control" id="id_input_format" name="input_format" type="hidden" value="0" />
                                          </div>
                                          <div class="submit-row" style="margin-top: 2em;">
                                            <button type="submit" class="btn btn-primary">Cargar Archivo</button>
                                          </div>
                                      </div>
                                    </form>
                                    {% endif %}
                                    {% if result %}
                                      {% if result.has_errors %}
                                          <h2>{% trans "Errors" %}</h2>
                                          <ul>
                                              {% for error in result.base_errors  %}
                                                  <li>{{ error.error }}</li>
                                              {% endfor %}
                                              {% for line, errors in result.row_errors %}
                                                  {% for error in errors %}
                                                      <li>
                                                        {% trans "Line number" %}: {{ line }} - {{ error.error }}
                                                        <div class="traceback">{{ error.traceback|linebreaks }}</div>
                                                      </li>
                                                  {% endfor %}
                                              {% endfor %}
                                          </ul>
                                      {% else %}
                                          <table id="datatable" class="table table-striped table-bordered">
                                          <thead>
                                            <tr>
                                              <th></th>
                                              {% for field in fields %}
                                                <th>{{ field }}</th>
                                              {% endfor %}
                                            </tr>
                                          </thead>
                                          {% for row in result.rows %}
                                              <tr>
                                                  <td>
                                                  {% if row.import_type == 'new' %}
                                                      {% trans "New" %}
                                                  {% elif row.import_type == 'skip' %}
                                                      {% trans "Skipped" %}
                                                  {% elif row.import_type == 'delete' %}
                                                      {% trans "Delete" %}
                                                  {% elif row.import_type == 'update' %}
                                                      {% trans "Update" %}
                                                  {% endif %}
                                                  </td>
                                                {% for field in row.diff %}
                                                <td>
                                                    {{ field }}
                                                </td>
                                                {% endfor %}
                                              </tr>
                                          {% endfor %}
                                          </table>
                                      {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}