{% extends "base.html" %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.budgets %}
                        <li>
                            <a href="{% url "budgets" building.slug %}" class="waves-effect active">
                                <i class="md md-attach-money"></i>
                                <span>Presupuesto</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
                {% block content %}
    				<div class="content-page">
    						<div class="content">
    							<div class="container">
    								<div class="row">
    								<div class="col-sm-12">
    									<h4 class="pull-left page-title">Presupuestos del edificio</h4>
    								</div>
    								</div>
    								<div class="panel">
    								<div class="panel-body">
    								<div class="row">
    								<div class="col-sm-6">
    									<div class="m-b-30">
    									<a href="{% url "create_budget" building.slug %}" class="btn btn-primary waves-effect waves-light">
    										Agregar
    										<i class="fa fa-plus"></i>
    									</a>
    								</div>
    								</div>
    								</div>
    								<table class="table table-bordered table-striped" id="datatable-editable">
    								<thead>
    								<tr>
    									<th>Item</th>
    									<th>Proveedor</th>
    									<th>Precio por unidad</th>
                      <th>Precio total</th>
                      <th>Acciones</th>
    								</tr>
    								</thead>
    								<tbody>
    								{% for budget in budgets %}
    								<tr class="gradeX">
    								<td>{{budget.item}}</td>
    								<td>{{budget.provider}}</td>
                                    <td>{{budget.unit_price}}</td>
                                    <td>{{budget.total_price}}</td>
    								<td class="actions">
                                    <a href="{% url "budget_payments" building.slug budget.pk %}" class="on-default">
                                        <i class="fa fa-eye"></i>
                                    </a>
    								<a href="{% url "edit_budget" budget.building.slug budget.pk %}" class="on-default">
    									<i class="fa fa-pencil"></i>
    								</a> 
    								</td>
    								</tr>
    								{% endfor %}
    							</tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
