{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load extra_tags %}
{% block custom-css %}
    <link href="{% static "css/stepsForm.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/modernizr.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
{% endblock %}
{% block leftbar %}
{% endblock %}
{% block content %}
  <div class="content-page-buildings">
    <div class="content">
      <div class="container">
        <div class="panel">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Creación de Presupuesto</h3>
                </div>
                <div class="panel-body">
                <div>
                  <div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    <span style="font-size: 16px;">Selecciona la opción que deseas para registrar el presupuesto</span>
                  </div>
                  <div class="col-sm-3 todo-inputbar form-group text-center" style="float: none; margin: 0 auto;">
                    <a href="{% url "create_budgetitems" building.slug budget.id %}"><button type="submit" class="btn btn-primary" style="margin-top: 2em;">Registrar Manualmente</button></a>
                    <a href="{% url "budget_import" building.slug %}"><button type="submit" class="btn btn-primary" style="margin-top: 2em;">Subir un archivo CSV de Excel</button></a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end: page -->
        </div><!-- end Panel -->
      </div><!-- container -->
    </div><!-- content -->
{% endblock %}