{% extends "base.html" %}
{% load static from staticfiles %}
{% block custom-css %}
    <link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.budgets %}
                        <li>
                            <a href="{% url "budgets" building.slug %}" class="waves-effect active">
                                <i class="md md-attach-money"></i>
                                <span>Presupuesto</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
        {% block content %}
    		<div class="content-page">
    			<div class="content">
    				<div class="container">
    					<div class="row">
    						<div class="col-sm-12">
    							<h4 class="pull-left page-title">General elements</h4>
    							<ol class="breadcrumb pull-right">
    								<li>
    									<a href="#">Moltran</a>
    								</li>
    								<li>
    									<a href="#">Forms</a>
    								</li>
    								<li class="active">General elements</li>
    							</ol>
    						</div>
    					</div>
    					
    					<div class="row">
    						<div class="col-sm-12">
    							<div class="panel panel-default">
    								<div class="panel-heading">
    									<h3 class="panel-title">Editar información del presupuesto</h3>
    								</div>
    								<div class="panel-body">
    									<form class="form-horizontal" role="form" method="POST" action="">
    									{% csrf_token %}
    									   <div class="form-group">
    											<label class="col-md-2 control-label">Item</label>
    											<div class="col-md-6">
    												<input id="id_item" name="item" type="text" class="form-control" value="{{form.item.value}}">
    											</div>
    										</div>
                                            <div class="form-group">
                                                <label for="id_provider" class="col-sm-2 control-label">Proveedor</label>
                                                <div class="col-sm-10">
                                                    <select id="id_provider" name="provider" class="form-control">
                                                    {% for value, key in form.fields.provider.choices %}
                                                        <option value="{{value}}" {% if form.provider.value == value %} selected{% endif %}>{{key}}</option>

                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
    										<div class="form-group">
    											<label class="col-md-2 control-label">Cantidad</label>
    											<div class="col-md-6">
    												<input id="id_quantity" name="quantity" type="text" class="form-control" value="{{form.quantity.value}}">
    											</div>
    										</div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Unidad</label>
                                                <div class="col-md-6">
                                                    <input id="id_unit" name="unit" type="text" class="form-control" value="{{form.unit.value}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Precio por unidad</label>
                                                <div class="col-md-6">
                                                    <input id="id_unit_price" name="unit_price" type="text" class="form-control" value="{{form.unit_price.value}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Fecha de Inicio</label>
                                                <div class="col-md-6">
                                                    <input name="budget_life_starting" type="text" class="form-control" value="{{form.budget_life_starting.value|date:"Y-m-d"}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Fecha de Finalización</label>
                                                <div class="col-md-6">
                                                    <input name="budget_life_ending" type="text" class="form-control" value="{{form.budget_life_ending.value|date:"Y-m-d"}}">
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="col-md-2 control-label">Fecha de finalización</label>
                                                <div class="col-md-6">
                                                    <input name="budget_life_ending" type="text" class="form-control" value="{{form.budget_life_ending.value}}">
                                                </div>
                                            </div>-->
    										<div class="form-group m-b-0">
    											<div class="col-sm-offset-3 col-sm-9">
    												<button type="submit" class="btn btn-info waves-effect waves-light">Guardar</button>
    											</div>
    										</div>
    									</form>
    								</div>
    							</div>
    						</div>
    					</div>
            {% endblock %}
    {% block custom-js %}
    <script>var resizefunc = [];</script>
    <script src="{% static "js/hood.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script>
            jQuery(document).ready(function() {

                // Date Picker
                jQuery('#datepicker').datepicker();
                jQuery('#datepicker-inline').datepicker();
                jQuery('#datepicker-multiple').datepicker({
                    numberOfMonths: 3,
                    showButtonPanel: true
                });
                // Date Picker 2
                jQuery('#datepicker2').datepicker();
                jQuery('#datepicker-inline2').datepicker();
                jQuery('#datepicker-multiple2').datepicker({
                    numberOfMonths: 3,
                    showButtonPanel: true
                });
            });
    </script>
{% endblock %}