{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load extra_tags %}
{% block custom-css %}
    <link href="{% static "css/stepsForm.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/modernizr.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
{% endblock %}
{% block leftbar %}
{% endblock %}
{% block content %}
	<div class="content-page-buildings">
		<div class="content">
			<div class="container">
				<div class="panel">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Asignación de Presupuesto para Altair</h3>
								</div>
								<div class="panel-body">

								<div class="stepsForm">
            						<form method="post">
                						<div class="sf-steps">
                    						<div class="steps-content">
                                            {% if wizard.steps.current == 'servicios-profesionales' %}
                    							<div style="background: #27ae60; color: #fff;">
                                            {% else %}
                                                <div>
                                            {% endif %}
                        							<span>1.</span> Servicios Profesionales
                        						</div>
                                            {% if wizard.steps.current == 'servicios-generales' %}
                                                <div style="background: #27ae60; color: #fff;">
                                            {% else %}
                                                <div>
                                            {% endif %}
                        							<span>2.</span> Servicios Generales
                        						</div>
                                            {% if wizard.steps.current == 'utencilios' %}
                                                <div style="background: #27ae60; color: #fff;">
                                            {% else %}
                                                <div>
                                            {% endif %}
                        							<span>3.</span> Implementos
                        						</div>
                                            {% if wizard.steps.current == 'mantenimientos' %}
                                                <div style="background: #27ae60; color: #fff;">
                                            {% else %}
                                                <div>
                                            {% endif %}
                        							<span>4.</span> Mantenimientos
                        						</div>
                                            {% if wizard.steps.current == 'otros' %}
                                                <div style="background: #27ae60; color: #fff;">
                                            {% else %}
                                                <div>
                                            {% endif %}
                        							<span>5</span> Otros
                        						</div>
                    						</div>
                						</div>                
                						<div class="sf-steps-form sf-radius"> 
                                        <form action="" method="post">{% csrf_token %}
                                        {{ wizard.management_form }}
                                        {% if wizard.form.forms %}
                                            {{ wizard.form.management_form }}
                                            <ul class="step-form">
                                            {% for form in wizard.form.forms %}
                                                <li>
                                                    <div class="form-inline-custom" role="form">
                                                    {% for field in form %}
                                                        <div class="form-group">
                                                            {{field.label_tag}}
                                                            {{field}}
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                </li>
                                                <hr></hr>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ wizard.form }}
                                        {% endif %}
                                        {% if wizard.steps.prev %}
<div class="sf-steps-navigation sf-align-right">
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="sf-button">Paso Anterior</button>
{% endif %}
<input type="submit" class="sf-button" value="Siguiente"/>
</div>
</form>

                						</div>
            						</form>
       							</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
				</div><!-- end Panel -->
			</div><!-- container -->
		</div><!-- content -->
{% endblock %}
{% block custom-js %}
	<footer class="footer text-right">2015 © Regente.</footer></div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
	<script>

	$(document).ready(function(e) {
        
		$(".stepsForm").stepsForm({
			width			:'100%',
			active			:0,
			errormsg		:'Check faulty fields.',
			sendbtntext		:'Create Account',
			posturl			:'core/demo_steps_form.php',
			theme			:'green',
		}); 

		$(".container .themes>span").click(function(e) {
			$(".container .themes>span").removeClass("selectedx");
			$(this).addClass("selectedx");
            $(".stepsForm").removeClass().addClass("stepsForm");
			$(".stepsForm").addClass("sf-theme-"+$(this).attr("data-value"));
        });

        $('.formset-input').change(function(){
            var inputField = $(this).attr('id');
            // If changes monthly field - Then calculate anual
            if (inputField.indexOf("monthly_quantity") >= 0)
            {
                var item = parseInt(- inputField.match(/-*[0-9]+/));
                //console.log(inputField+' -- '+item);
                var monthly_val = $(this).val().replace('.','').replace(',','');
                var anual_val = parseInt(monthly_val)*12;

                var monthly_value = numeral(monthly_val).format('0,0');  
                var monthly_value = monthly_value.replace(/\,/g,".");

                var anual_value = numeral(anual_val).format('0,0');  

                var anual_value = anual_value.replace(/\,/g,".");
                //console.log(anual_value);
                
                $(this).val(monthly_value);
                $('#id_servicios-profesionales-'+item+'-annual_quantity').val(anual_value);
            }

        });
    });
</script>
{% endblock %}