{% extends "base.html" %}
{% load static from staticfiles %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.budgets %}
                        <li>
                            <a href="{% url "budgets" building.slug %}" class="waves-effect active">
                                <i class="md md-attach-money"></i>
                                <span>Presupuesto</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
    {% block content %}
    <div class="content-page">
    	<div class="content">
    		<div class="container">
    		<div class="row">
    		<div class="col-md-12">
    			<div class="panel panel-default">
    				<div class="panel-body">
    					<hr>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="pull-left m-t-30">
    									<p><strong>Item: {{budget.item}}, Proveedor: {{budget.provider}}</strong><br></p>
                      <p><strong>Presupuesto total: {{budget.total_price}}</strong><br></p>
    								</div>
                                    <!--
    								<div class="pull-right m-t-30">
    									<p>
    										<strong>Order Date:</strong> Jun 15, 2015
    									</p>
    									<p class="m-t-10">
    										<strong>Order Status:</strong>
    										<span class="label label-pink">Pending</span>
    									</p>
    									<p class="m-t-10">
    										<strong>Order ID:</strong> #123456
    									</p>
    								</div>
                                    -->
    							</div>
    						</div>
    						<div class="m-h-50"></div>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="table-responsive">
    									<table class="table m-t-30">
    									<thead>
    										<tr>
    											<th>#</th>
    											<th>Cuota</th>
    											<th>Fecha de pago</th>
                                                <th>Pagado</th>
    										</tr>
    									</thead>
    									<tbody>
    									{% for payment in payments %}
    										<tr>
    											<td>{{forloop.counter}}</td>
    											<td>{{payment.budget.unit_price}}</td>
    											<td>{{payment.date_of_payment}}</td>
                                                {% if payment.paid %}
                                                    <td><i class="fa fa-check"></i></td>
                                                {% else %}
                                                    <td><i class="fa fa-times"></i><a href="#" style="text-decoration: underline;"> Registrar Pago</a></td>
                                                {% endif %}
    										</tr>
    									{% endfor %}
    									</tbody>
    								</table>
    							</div>
    						</div>
    					</div>
    					<hr>
 <!--   					<div class="hidden-print">
    						<div class="pull-right">
    							<a href="#" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-print"></i></a> 
    							<a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
    						</div>
    					</div>-->
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
   </div>
   {% endblock %}