{% extends "base.html" %}
{% load static from staticfiles %}
{% block leftbar %}
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div>
                                <span aria-expanded="false">
                                    Edificio {{building.name}}
                                </span>
                             </div>
                              {% if userprofile.is_administrator %}
                        <p class="text-muted m-0">Administrador</p>
                              {% elif userprofile.is_watchman %}
                              <p class="text-muted m-0">Celador</p>
                              {% else %}
                              {% endif %}
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                              {% if perms.properties %}
                              <li>
                                   <a href="{% url "properties" building.slug %}" class="waves-effect">
                                        <i class="md md-home"></i>
                                        <span>Copropiedad</span>
                                   </a>
                              </li>
                              {% else %}
                              {% endif %}
                              {% if perms.wallet %}
                        <li>
                            <a href="{% url "wallet" building.slug %}" class="waves-effect">
                                <i class="md md-account-balance-wallet"></i>
                                <span>Cartera</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.movements %}
                        <li>
                            <a href="{% url "cashflow" building.slug %}" class="waves-effect">
                                <i class="md md-attach-money"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.emails %}
                        <li>
                            <a href="{% url "emails" building.slug %}" class="waves-effect active">
                                <i class="md md-email"></i>
                                <span>Emails</span>
                            </a>
                        </li>
                              {% else %}
                              {% endif %}
                              {% if perms.complaints %}
                        <li>
                            <a href="{% url "complaints" building.slug %}" class="waves-effect">
                                <i class="md md-announcement"></i> 
                                <span>Quejas</span> 
                                <span class="pull-right">
                                <i class="md md-add"></i>
                                </span>
                            </a>    
                         </li>
                              {% else %}
                              {% endif %}
                        
                         {% if perms.meetns %}
                         <li>
                            <a href="{% url "meetings" building.slug %}" class="waves-effect">
                                <i class="md md-invert-colors-on"></i>
                                <span>Asambleas/Reuniones</span>
                                <span class="pull-right">
                                    <i class="md md-add"></i>
                                </span>
                            </a>
                         </li>
                         {% else %}
                         {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
          {% endblock %}
{% block content %}
<div class="content-page">
	<div class="content">
		<div class="container">
			<div class="row">
			</div>
		<div class="im-centered">
			<div class="row">
				<div class="col-lg-10">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Todo</h3>
						</div>
						<div class="panel-body todoapp">
						<form method="POST" class="form-horizontal">
              {% csrf_token %}
{{form.errors}}
<div class="form-group">
  <label class="col-md-2 control-label">Asunto</label>
  <div class="col-md-6">
    <input id="id_subject" maxlength="255" name="subject" type="text" class="form-control" value="{{form.item.value}}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Proveedor</label>
  <div class="col-sm-6">
    <select id="id_to_emails" name="provider" class="form-control">
    {% for value, key in form.fields.to_emails.choices %}
        <option value="{{value}}" {% if form.to_emails.value == value %} selected{% endif %}>{{key}}</option>

    {% endfor %}
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">From Name</label>
  <div class="col-md-6">
    <input id="id_from_name" maxlength="255" name="subject" type="text" class="form-control" value="{{form.item.value}}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Email</label>
  <div class="col-md-6">
    <textarea cols="40" id="id_text" maxlength="5000" name="text" rows="10" class="form-control">
    </textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label"></label>
  <div class="col-md-6">
    <button class="btn btn-primary text-center" type="submit" value="Enviar Email">Enviar Email</button>

  </div>
</div>

</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}